[2014-04-15 19:16] omangin opened #1 "Add an Author class"
Write an author class to handle access to first/lastnames as well as author abbreviations for display.

[2014-04-15 19:16] omangin opened #2 "Switch to lowercase filenames"

[2014-04-15 19:17] omangin opened #3 "Move todo to issue tracker and remove .pit"

[2014-04-15 19:17] omangin opened #4 "Move code guidelines to wiki"

[2014-04-15 19:20] omangin opened #5 "Incoherent paper exists and citekeys method"
Existence of paper is decided as the conjunction of the existence of bib and meta files in DataCache,citekeys and as their disjunction in Repository.push sanity check. This is not coherent.
Also the citekeys method is defined for datacache and not databroker.

[2014-04-15 19:22] omangin opened #6 "Test not passing."

[2014-04-16 13:50] #4 closed, assigned to nobody

[2014-04-16 13:54] omangin opened #7 "Add url support"

[2014-04-16 13:55] omangin opened #8 "Stats command"

[2014-04-16 14:06] omangin opened #9 "Add plugin to manage external files"
This should be flexible enough to handle notes and other attachments.

[2014-04-16 16:45] omangin opened #10 "Add proper author abbreviation"
Add a class to handle authors in a comprehensive way (first, last, and middle name). Implement abbreviations and other useful methods.

[2014-04-17 10:53] #6 closed, assigned to benureau

[2014-04-19 15:12] #2 closed, assigned to benureau

[2014-04-19 15:14] #1 closed, assigned to benureau

[2014-04-19 15:19] benureau opened #11 "add way to manage authors"
We should be able to:
- list all authors (by name, number of papers)
- list all authors of a given tag
- list all first authors (/of a given tag)
- rename an author

This is dependent on #10

[2014-04-19 15:24] benureau opened #12 "bibitem export format."

[2014-04-19 15:25] humm opened #13 "caching system to check against user edits"

[2014-04-19 15:26] humm opened #14 "caching system to speed up things"

[2014-04-19 15:29] benureau opened #15 "intuitive search command"
To be probably powered by [Whoosh](https://pypi.python.org/pypi/Whoosh/).
If Whoosh is not installed, the command will print an error message.

Heavily dependent of #13 and #14.

[2014-04-19 15:30] #3 closed, assigned to omangin

[2014-04-19 18:30] benureau opened #16 "python 3 support"

[2014-04-19 19:11] #5 closed, assigned to benureau

[2014-04-19 23:27] benureau opened #17 "fix catch 22 between loading the config and doing a `pubs init`"

[2014-04-20 00:41] #17 closed, assigned to benureau

[2014-04-22 16:33] omangin opened #18 "Better config"
- Safe config load, See comment on 48ad7e9b6973e9e4f26063c8ea6ad5734645da18.
- Clean config code and remove access as global variable.

[2014-04-22 16:34] omangin opened #19 "Add -c option for alternative config file"

[2014-04-22 16:35] omangin opened #20 "Pubs init should detect if repository already exists and add it to config"
This should use the _check_ method from the repository.

[2014-05-21 16:25] omangin opened #21 "Update for latest bibtexparser"
0b64bf086ed11d1b40e9454db76bb4417eee73a3 introduces a hack (http://git.io/1ZbMkg) related to an issue in bibtexparser : sciunto/python-bibtexparser/issues/17.
This has been fixed by sciunto/python-bibtexparser@6beb646de5af64d824f6d0d38fb8f42528671511.

Pubs should be updated accordingly as soon as the bibtexparser FIX gets to a released version.

[2014-09-11 16:56] #16 closed, assigned to omangin

[2014-09-11 17:06] #21 closed, assigned to nobody

[2014-09-11 17:11] omangin opened #22 "Merge develop in master and use pre-release version number."
Currently develop is used as a master branch so there is no use to keep these branches separate. Let's replace master by develop, use an <1.0 version number to indicate quick development stage.

[2014-10-28 13:21] humm opened #23 "bibtexparser does not handle files from bibutils xml2bib"
Might not be our fault.

xml2bib generate files that have a different first character. `cmp` give that output:

'''
test2.bib test3.bib differ: byte 1, line 1 is 357 � 100 @
'''

To investigate further.

[2014-10-30 00:57] humm opened #24 "remove does not work"
[code]

If trying to answer the question:
[code]

Low hanging fruit probably, but I am not getting distracted right now.

[2014-10-30 14:27] benureau opened #25 "leading spaces should be trimmed from citekey"
They are not, currently, and it makes quotes necessary when handling them. A bit a citekey sanitizing would be beneficial here.

[2014-10-30 14:28] humm opened #26 "'\n' is not removed from bibtex title"

[2014-10-31 14:15] clement-moulin-frier opened #27 "pubs init TypeError"
After having installed pubs using "python setup.py develop", as well as the required dependencies, I have the following error when running "pubs init":

[code]

[2014-11-01 16:19] benureau opened #28 "Allow utf8 in citekeys"
Something to think about. This does not pass:

[code]

[2014-12-01 18:41] benureau opened #29 "Problem with math in titles"
Bibtexparser is configured to convert accents into utf8. This has unfortunate side-effect on math in titles. The `\cup` is not preserved by bibtexparser.

[code]

[2015-01-08 14:18] humm commented on #24
Ok, the ui issue has resolved with commit  0c51c5f36bd84075a1edad835bba34818ec7abee, but remove fails silently now. To be continued.

[2015-01-16 13:26] #22 closed

[2015-01-23 11:51] benureau opened #30 "Bug in list when bib entry has no title"
If a bibentry has no title, `pub list` breaks like so:

[code]

There are three lessons from that:
1. This should not happen, `list` should be robust to problems that affect isolated bibentries.
2. The formatting system needs to be waaaay more robust
3. title and author should probably be mandatory somehow, or at least generate a warning when they are not present during `add/edit/import` cmds.

[2015-01-24 00:06] #24 closed

[2015-03-28 10:38] framecurrent commented on #27
Same problem. Any solutions?

[2015-03-28 23:28] humm commented on #27
Ok, so I finally managed to reproduce the error, and tracked down its origin. It's not pretty. It boils down to the config module being hopelessly broken, and python 2 (which I assume you are using) being reeeally messy with str and unicode. I committed a quick fix, but I won't probably work if you have something else than ascii characters in your path.

I won't be able to provide much support in

[2015-03-28 23:51] framecurrent commented on #27
Thanks, it works now! Hope you can find time to continue the development.

[2015-04-28 08:57] omangin opened #31 "Beautifulsoup dependency"
Beautifulsoup is a required dependency but not mentioned as such in setup.py nor readme.

Anyway I am not sure this dependency should be required and maybe it would be better as an optional one with dynamic imports?

Any idea?

[2015-04-28 09:44] omangin opened #32 "Bibtexparser API change"
Prepare for bibtexparser API change:
'id' -> 'ID'
'type' -> 'ENTRYTYPE'.

[2015-04-28 09:55] omangin opened #33 "Use bibtexparser bwriter instead of internal encoder."
Endecoder includes custom encoder. It would be better to use new bibtexparser bwriter class. An encoder would be needed anyway to convert internal keys to bp's one (see #32 and comments in endecoder.py).

[2015-04-28 10:00] omangin commented on #32
Can anyone check if commit in branch https://github.com/pubs/pubs/tree/fix/issue32  breaks something in tests with current bibtexparser?

[2015-05-07 11:16] #32 closed

[2015-12-02 22:10] 73 commented on #27
Hi guys,
this is actually not fixed:
[code]
What can I do to help out?

Best,
73

[2015-12-02 23:46] humm commented on #27
Hey, the last commits seemed to have broken a few (a lot of) things. I am on it, I am trying to have this fixed by tomorrow. It seems you are using OS X. What version of python are you using?

[2015-12-03 05:33] 73 commented on #27
Thanks for getting back to me that quickly.
I'm running 2.7.10_2 from `homebrew` on my OSX box.
I would like to give `pubs` a spin and maybe even help out.

[2015-12-03 05:36] 73 commented on #31
The way the software behaves now (not running when not installed) it is required (but missing from setup.py).
It might be good to add it to `install_requires`, so that people can run your code and implement a feature that makes it optional?

Best,
73

[2015-12-03 07:50] humm commented on #31
@73 You are right. As long as the decision has not been made to make BeautifulSoup optional, it should not break the rest of the program. Added beautifulsoup4 to `install_requires`.

I am leaving the ticket open for now, to further discuss if BeautifulSoup should be required.

[2015-12-03 09:04] #27 closed

[2015-12-03 09:08] humm commented on #27
Ok, this should work now. Tell me if it does not.

I am going to be rewritting some of the more fragile part of the codebase in the next few days. It's going to be a little bumpy (the configuration file is going to be overhauled next), but I am interested by and will pay close attention to the issues you uncover during usage.

[2015-12-03 09:41] 73 commented on #27
works. thanks. I'll evaluate whether or not `pubs` is for me. If it is there might come some PRs ;)

[2015-12-03 15:04] 73 opened #34 "Autocompletion for citekeys"
Hi Guys,

I would like suggest autocompletion for (well that's what I would like) zsh.
This might be a place to start: https://github.com/zsh-users/zsh-completions

Let me know what you think.
--73

[2015-12-03 15:11] 73 opened #35 "[bug] tags on non-existing entries isn't reportet"
Reproduction:

[code]
What happens:
[code]
Expectation:
[code]

[2015-12-03 15:33] humm commented on #35
Yep, the `tag` command is horribly overloaded right now. This is not technically a bug, just faulty design. I am looking into making it more predictable.

[2015-12-03 15:51] humm commented on #34
Yes, autocompletion would be nice. For the moment, we are looking into basic command autocompletion using https://github.com/kislyuk/argcomplete, which is zsh compatible. but citekey autocompletion is the next step.

[2015-12-04 14:49] 73 commented on #31
There is some plugin capability there. Maybe the whole feature should be a plugin and automatically enabled if the dependencies are fulfilled?

[2015-12-04 23:13] omangin commented on #35
Indeed. This is because the code was made to hande things such as
``pubs tag onetag othertags``
as well as
``pubs tag citekey tags``

Since there is no way to do that in predictably, I will remove the first option.

I would also generally be in favor of dropping the syntax `pubs tag tags` in favor of `pubs list`. If we keep it anyway, we should appropriately delegate that to a function shared with

[2015-12-05 04:44] #35 closed

[2015-12-06 12:01] 73 commented on #19
Hi,
I have some code on this one but it seems that I can't get my head around the FakeFilesystem for testing.
The statement:
[code]
always returns `false`.
The users home should be initialized https://github.com/pubs/pubs/blob/master/tests/fake_env.py#L116 right?
But the config file does not seem to reside inside the fake file system.
To recreate just add the line to a test with an `pubs init`.

W

[2015-12-06 12:58] humm commented on #19
Yes, FakeFilesystem is kinda tricky.

If you modified the code in ways that add calls to the filesystem in a new module, you must add it to:
https://github.com/pubs/pubs/blob/master/tests/test_usecase.py#L59
and similar lines in  https://github.com/pubs/pubs/blob/master/tests/test_databroker.py

Frankly, it needs to be more robust to changes, I'll add that to the todo list.

If that does not solve

[2015-12-06 21:09] 73 commented on #19
Well, here it is: https://github.com/73/pubs/commit/2e0fca5430c721a22c42e151f41c27fca890522d

The configs are already added. `open()` should be called inside the `configobj` that might be the issue, but I'm really not sure.

Thanks,
--73

[2015-12-07 08:44] humm commented on #19
It appear you have brought old code along with your changes when rebasing against the last commit of the `feat/new_config` branch. Your problems should be solved by a cleaner patch. The `feat/new_config` branch is almost finished, but wide-ranging color changes, and a merge with the new master code will still make it a highly moving target for a day or two.

[2015-12-07 09:03] 73 commented on #19
Thx for the feedback, I'll clean up.

[2015-12-07 10:55] humm commented on #19
Ok, I pushed my color changes and merged with master. The code should be relatively stable now. It will be pushed into master soon.

[2015-12-07 12:57] 73 commented on #19
Nice. I ran into a problem which I can't decide for myself.
Currently I can't call `config.get_confpath()` to determine the correct order of precedence for the config file (which I guess would be switch > env > default), because the function relies on `uis.get_ui()` https://github.com/pubs/pubs/blob/feat/new_config/pubs/config/conf.py#L30. But I need a config file to create it https://github.com/p

[2015-12-07 13:30] humm commented on #19
Yep, you should load the default config if you need the ui before the configuration is loaded.
You can get it there:
https://github.com/pubs/pubs/blob/feat/new_config/pubs/config/conf.py#L13

The ui will eventually become an argument passed along the function (same as conf and args), the current design is not pretty.

[2015-12-07 14:53] 73 commented on #19
@humm could you review this: https://github.com/73/pubs/commit/b4f569dee86c37534bd626f655ed040d7ad01fce
Should be a lot more pleasing to the eye ;)

[2015-12-08 08:41] 73 opened #39 ".idea in .gitignore"
Would you mind terribly to add `.idea` to `.gitignore`?
--73

[2015-12-08 09:17] 73 commented on #18
Garding feat/new_config:
I'd like to point out that the need to place a comma in an empty list (or a list with one element) seems counter intuitive ... Default config reads:
[code]
If one wants to add a plugin it has to read `active = plugin,` to run though `conf.check_conf()`. If the comma is missing one gets an `AssertionError`.
--73

[2015-12-08 09:26] humm commented on #39
Hum... if you have files you don't want to commit to git, but make only sense to your local repository, it is better to modify your .git/info/exclude file .

[2015-12-08 09:26] #39 closed

[2015-12-08 09:30] 73 commented on #39
Thx. Haven't thought of that.

[2015-12-09 22:20] omangin opened #40 "Unpredictable tests"
The following test fails from time to time in an (apparently) unpredictable manner.

The issue seems to come from the ordering of the elements in the dictionary. Needs more investigation…

[code]

[2015-12-09 23:14] humm commented on #40
Yep, it's on my todo list. I'll write a better comparison function.

[2015-12-10 17:08] omangin commented on #40
… or we can chose to make the output predictable by specifying a standard order for fields.

On thing we also have to do is to use [bibtex-parser's bwriter](https://github.com/sciunto-org/python-bibtexparser/blob/master/bibtexparser/bwriter.py) to encode the bibtex data. It has [an option](https://github.com/sciunto-org/python-bibtexparser/blob/master/bibtexparser/bwriter.py#L55) to order the keys

[2015-12-10 21:34] humm commented on #40
Yep, I agree, we should close this and #33 at the same time.

[2015-12-10 21:35] humm commented on #19
Fixed by 2871588

[2015-12-10 21:35] #19 closed

[2015-12-11 13:01] 73 opened #41 "detach command"
Hi,
is there a way to `detach` a document after it was attached? I think it doesn't necessarily have to be a command. Something like `pubs attach --remove` would suffice.
-- 73

[2015-12-11 13:11] humm commented on #41
Yes, this needs to be implemented. As well as a way to copy the attached document to the current directory.

[2015-12-11 13:57] 73 commented on #41
What do you mean? Like `pubs export -d citekey`?
That should be another issue. Should it not?
Does it make sense to use a 0.6.0 milestone and assign issues to that milestone?

[2015-12-11 14:15] 73 commented on #41
Okay. I found two possibilities to be viable:
1. Implement a `detach` as a command itself.
2. Add a switch to `remove` like `--detach` or `--detach-only` which just deletes to document.
Which one would you prefer? Which branch should the code for the feature be based on?

[2015-12-11 14:43] humm commented on #41
I think it is important to limit the number of core commands. One solution I could see is to replace the `attach` command with a `doc ` command, with subcommands. Therefore:
- `pubs doc add $citekey $path/to/file` would add a document
- `pubs doc remove $citekey` would remove the document from the corresponding paper
- `pubs doc export $citekey` or `pubs doc copy $citekey [$path]` would copy the a

[2015-12-11 14:47] 73 commented on #41
Sure, I'll do it. I also like the idea with the `doc` command.
I would rather see zshcompletion done (it is my personal thing to make pubs really usable), but I really don't know where to begin.

[2015-12-11 23:37] omangin commented on #41
I'd say that both can be implemented as aliases… but that not what we want for both.

For the command to copy the paper to the current directory I'd say that it definitely falls under alias' use case. Typically `copy = open -w 'cp -t ./'` does it.

For removing a document, that definitely needs to be in the core functions. I think the idea of the `doc` subcommand is good, thus replacing `attach`.

[2015-12-12 08:36] humm commented on #41
I agree with that. I think the `pubs doc add` syntax is the only one possible, as `pubs add doc` raises ambiguity in the parser about adding a bibtex file named `doc`.

Also, the `open` command relies on external programs that may not be present on some platforms, or modified in the config. Using an alias for `doc copy` is not portable or robust.

@73: If you want to work on the `doc` command, it'

[2015-12-12 12:01] 73 commented on #41
Hi,
I read your posts and came to think that a `doc` command would be kind of a invasive to the interface.
If we take step like it, it might be good to do all the work at once, in favour of the interface getting a little more stable.
So I looked at all commands that are there and tried to package them.
I followed the these principals:
1. Basic commands are: `init`,`add`, `edit`, `remove`, `export`

[2015-12-12 12:03] 73 commented on #41
You can completely shut me down if you guys think I went totally overboard, but I think it would be a good idea to have a "bigger picture".
--73

[2015-12-12 13:02] humm commented on #41
There are many good ideas there. I think they should not be implemented all at once, but incrementally. Such dramatic changes would destabilise the project for a significant time (e.g., we are still dealing with instability due to changes in config), which is the opposite of what we are trying to do right now.

Some remarks:
- The `note` command doesn't need subcommands IMO. `pubs note $citekey` o

[2015-12-12 13:37] 73 commented on #41
Yaeh, not all at once but within one version. If all agree I would make a todo list in form of multiple issues.
* I agree on the point that `note edit` is completely redundant (I read that somehow into the comment ;). It serves the sole purpose to enable a more CRUD-like feeling for the user.  But we could do something like:  `note $key [-s|--set $note] [-f|--force]` which is a lot simpler, but al

[2015-12-12 14:28] humm commented on #34
FYI, I looked and tried to add autocompletion with argcomplete, but it is dicier than it looks. Given the current code, argcomplete is not a good option.

[2015-12-12 16:14] 73 commented on #34
Thank you for looking l. I really appreciate that. What is the problem?
On Dec 12, 2015 3:28 PM, "Fabien Benureau" <notifications@github.com> wrote:

[2015-12-12 19:19] humm commented on #34
Besides the fact that I did not actually manage to make it work, argcomplete actually execute the program up until parse_args(). I guess our double parser solution is wreaking havoc in argcomplete, but it also means that the conf needs to be loaded everytime the user hits tab, which is way too slow and produce noticeable delays in the terminal.

[2015-12-12 20:24] 73 commented on #34
Ah okay. If the commands are stable we could write a auto complete function
shell only. Or is there another option?
On Dec 12, 2015 8:19 PM, "Fabien Benureau" <notifications@github.com> wrote:

[2015-12-12 21:20] humm commented on #34
IDK

[2015-12-13 12:54] 73 commented on #41
Hey,
implementing the `doc` command. And I have some questions.

First I have found something in the `repo.py` which strikes me as odd: https://github.com/pubs/pubs/blob/master/pubs/repo.py#L96-L98
Why is the Exception not raised to the cmd that invoked the command and then printed with the `ui`?

Secondly I'm not sure whether or not the removal of a document is a `RemoveEvent` in the sense of: ht

[2015-12-13 16:40] humm commented on #41
On the first, as the comment said, it indeed needs to be printed by the UI. The idea there is to avoid printing a full stacktrace *or* and exception incomprehensible to most users (that don't necessarily know Python, etc.).

Events are part of an old plugin framework, but AFAIK, nobody is using it anymore. And no, RemoveEvent should not trigger when only the document is removed. Those events shoul

[2015-12-13 16:45] 73 commented on #41
Thx for getting back to back to me in such a timely manner.
1. I will raise the error and print something pretty to the user.
2. I will not introduce events to any new code and leave it alone.
--73

[2015-12-13 20:10] 73 commented on #18
And the comment in https://github.com/pubs/pubs/blob/master/pubs/config/spec.py#L14 should really specify available options.
--73

[2015-12-13 20:14] 73 commented on #18
Sry. Im just going through that file...
https://github.com/pubs/pubs/blob/master/pubs/config/spec.py#L42 does not exists yet.
https://github.com/pubs/pubs/blob/master/pubs/config/spec.py#L44  why is black available but white is not? (I have a dark background).
--73

[2015-12-14 00:51] omangin commented on #41
Thanks for all that reading!

My comments:
- The `open` command relies on `xdg-open` or what is defined in the config so it is both portable and file type agnostic.
- I was under the impression that copying to current directory was a very specific use case that did not justify a command. That is why I proposed an alias. Now that it has become an `export` command it seems much more useful.
- On the

[2015-12-14 00:53] omangin commented on #34
An issue will be that with a lot of papers it is very long to parse all files. This will be solved by the cache but with the current implementation `list` reads all files even when it just has to output the citekeys.

[2015-12-14 00:55] omangin commented on #34
With the current implementation `list` reads all files even when it just has to output the citekeys. This can take a long time with a few hundreds of papers. This will be solved by the cache.  In the meanwhile it is also possible to hack list to not build the full repository when only asked for citekeys but this adds complexity to the code that will become useless in the future.

[2015-12-14 05:27] 73 commented on #34
Since we are talking completion here, the fastest way would be to skip the `list`command and act on a listing of the `bib ` folder with trimmed file endings. One would still need to read the config to determine the location of the folder. Anyway, in my opinion it would make `pubs`a lot more usable if i would not have to type (which on rather long keys means copy & paste) the specific keys.
--73

[2015-12-14 05:45] 73 commented on #41
Okay. Picking up on those points I take it that:
+ If `note` should be file agnostic one needs `add`, `open` and `remove` as subcommand for `note`. I was under the impression that it would be `txt` not an arbitrary file. Then `note edit` can not open a (maybe empty) file for edit because we have no filetype.
+ Offering no short handles for `--version` and `--no-ask`is completely fine with me. `--v

[2015-12-14 08:25] humm commented on #18
Too very good issues.

[2015-12-14 08:32] humm commented on #34
Let's remark that typing part of the citekey *will* autocomplete implicitly if only one correspond to the prefix, and ask for disambiguations with a list of options if not. This is the case for the open command for instance (we may not be the case for all commands). This is *very* close to what you want.

[2015-12-14 08:36] 73 commented on #34
True. Open fully supports it. Haven't tasted it though. Will test it. Maybe
that will suffice. Will get back to that.
--73
On Dec 14, 2015 9:32 AM, "Fabien Benureau" <notifications@github.com> wrote:

[2015-12-14 09:07] 73 commented on #34
I think that will suffice. Although it is a bit irritating. Can this stay open with low priority?
--73

[2015-12-14 10:17] 73 opened #43 "info message for the ui"
I really like what you did with formatting. Which brings me to the current issue. I see:
[code]
with `warning` in yellow. I want to see:
[code]
with `info` in green. In top of that I would change all questions to `warning`.
Is that okay with you @humm?
--73

[2015-12-14 10:56] humm opened #44 "Improve color support"
**Current issues with colors:**

- [x] 'white' color
- [x] 256 color support
- [x] predefined themes
- [x] robust italics support (or remove italics)
- [x] `--force-colors` option
- [x] pager support

**Some remarks:**

- Italics have been removed as default. Reenabling them and verifying they work as intended is the responsability of the user. The `colors.sh` script can be used to diagnose proble

[2015-12-14 10:58] humm commented on #34
Sure. Current status: need to fix a good technical solution & need to implement #14 first.

[2015-12-14 11:00] 73 commented on #34
I'll extend that behaviour to all commands. Expect a PR on that.
On Dec 14, 2015 11:58, "Fabien Benureau" <notifications@github.com> wrote:

[2015-12-14 11:02] humm commented on #43
Yes. You should add an info() method in PrintUI, which should seldom be used for possibly unexpected behaviour by pubs.

[2015-12-14 12:17] 73 commented on #43
Shouldn't it be:
+ *info*: Hey I took the liberty to do something for you (e.g. complete a key)
+ *waring*: Please pay attention now (e.g. Do you *really* want to delete that file?)
+ *error*: I'm sorry. Something *unexpected* happened and I'm not able to recover.
?
--73

[2015-12-14 12:22] humm commented on #43
Let's not go all out *warring* now. :)

* Yes, exactly. It should appear infrequently in the user experience.
* The simple fact that we're asking for user input is enough to draw the user attention.
* Yes. So warning is for recoverable errors.

[2015-12-16 12:45] 73 commented on #44
I loose the colors when I pipe the output to a pager. Reproduce:
[code]
`-r` should keep colors. But somehow it does not. My version of `less` is:
[code]
It would be nice to be able to keep the colors on a pager.
--73

[2015-12-16 12:53] 73 opened #45 "list should indicate an attached document"
`pubs list` should indicate that a document it attached to a publication. This could be a special symbol like `+` or something....
--73

[2015-12-16 14:15] humm commented on #44
This is by design, so that when piping to a file, the text is written without colors.

But in some instances such as yours, it would be useful. I will add an argument `--force-colors` or a config option.

[2015-12-16 14:16] humm commented on #45
Yes. I do agree. In the meantime, you have the `--no-docs` option to hunt which docs are without a document.

[2015-12-16 14:26] #41 closed

[2015-12-16 14:26] #43 closed

[2015-12-16 14:27] 73 commented on #44
Jeah. That would be nice. Idealy list would use a pager like git log. But
haven't talked to you guys about that, yet and it seems rather
intrusive.
--73
On Dec 16, 2015 15:15, "Fabien Benureau" <notifications@github.com> wrote:

[2015-12-16 14:37] 73 commented on #45
Yeah. But from a listing I would like to see on which key I may call pubs
doc open on.
--73
On Dec 16, 2015 15:16, "Fabien Benureau" <notifications@github.com> wrote:

[2015-12-16 16:04] humm commented on #18
Remaining issues are being handled by #44, closing this.

[2015-12-16 16:04] #18 closed

[2015-12-16 20:08] omangin commented on #45
One idea to implement this would be to add *special tags* which values would be defined by pubs. The way gmail implements *inbox*, *sent*, *spam*.

The pros are that the code already exists for display and search. So even if the functionality is not reused it might already be beneficial with respect to the quantity of code to write.

On the other side, as it is always touchy to introduce reserved

[2015-12-16 20:42] omangin opened #46 "Wrong editor default"
The default `edit_cmd` in the config is `'None'`. Instead of failing to open the command `None`, the value of `$EDITOR` should be used, with some sane default (*vi*).

[2015-12-16 21:33] humm commented on #46
H

[2015-12-17 03:33] omangin commented on #46
Do we support window?

Actually `edit_cmd` was `'None'` on my computer from the config the updater generated. So something is at least not working.

Also, my opinion is that the user should not need to have any `edit_cmd` defined in the config for the expected thing to happen. Also if the user changes its `$editor`, why should he also change it in every application he uses that may call an editor?

[2015-12-17 05:49] 73 commented on #45
I thought about an autogenerated tag like `+`which cannot be given. It would (or should) cause an syntax error. But I would not safe it in the sense of only showing it if `paper.docpath is not None`.
Maybe there should ne `tags`(given by the user) and `labels`given by pubs?
This issue was about a view enhancement (no data to be stored). I see good points in your idea, but it is not necessary for t

[2015-12-17 06:25] 73 commented on #44
Would it make sense to distinguish between a *pipe* and a *redirection*? Imho users redirect output to a file and pipe to another process. See: https://stackoverflow.com/questions/13442574/how-do-i-determine-if-sys-stdin-is-redirected-from-a-file-vs-piped-from-another
--73

[2015-12-17 06:30] 73 opened #47 "list should support a pager"
Hi,
I would like to discuss the idea of defaulting the `list` to a pager. It the user wants to redirect to a file he should use `export`. If we agree on that, this would mean two changes:
1. Introduce a pager to list.
2. Extend the export to support the same queries as list das does.
    2.1 Extract a query processor and use it for both commands.
What do you think guys?
--73

[2015-12-17 11:54] #46 closed

[2015-12-17 11:54] humm commented on #46
You raise very good points. You are indeed right that we should support the configuration not being set. And windows support is probably a quagmire of undue proportions.

On MacOS X, EDITOR is not set, and I do think nano is a better option than vi for users that do not have strong opinions about editors. I removed my overly complicated code and made nano the default.

[2015-12-17 12:03] humm commented on #47
I do think that if you want to use a pager with pubs, using the alias plugin is perfect (see readme for examples), does not require more code, and will be colourful as soon as I implement the --force-colors option.

I am closing this for now, do reopen if you do not agree.

[2015-12-17 12:03] #47 closed

[2015-12-17 15:50] omangin commented on #46
OK. Thanks. There is still one minor issue which is that I am not sure nano is always installed on UNIX systems. That is why `vi` is a more secure default since it is required by POSIX.  I however agree that it is better to default to nano for inexperienced users.

So the options are:
- keep using `nano` as `pubs` default, knowing that in theory it is not guaranteed to work (although it would on m

[2015-12-17 16:45] humm commented on #46
Valid point. I am gonna let you decide this one :P

[2015-12-18 21:38] humm commented on #47
@73: Done. `pubs --force-colors list | less -r` now works as you would except. You can create an alias in the configuration.

[2015-12-18 21:57] humm commented on #44
Thanks for the links, I did not know you could tell the difference from inside python. But making the difference does not really help: `pubs list | less` needs to work out-of-the-box, and as shown by `pubs list --force-colors | less`, it would not if we kept colors for redirections by default.

[2015-12-18 23:04] 73 commented on #44
Thats bad. I looked good though...
On Dec 18, 2015 22:57, "Fabien Benureau" <notifications@github.com> wrote:

[2015-12-20 13:36] 73 commented on #47
added the following alias:
[code]
But `pubs ls` throws an error. Can you check?
--73

[2015-12-20 13:58] humm commented on #47
Ok, I am gonna need a little more details...

[2015-12-20 14:20] 73 commented on #47
Oh shoot, I just realize I have to activate the `alias`plugin right? The `readme.md` does not say so. Should be updated.

[2015-12-20 14:20] 73 commented on #47
It works. Thx.

[2015-12-20 15:02] humm commented on #47
No problem.

[2015-12-26 16:25] #26 closed

[2016-01-07 04:54] omangin commented on #23
Actually if this is a bibtexparser bug, it should be reported upstream instead because bibtexparser is supposed to hande BOM. Actually it does so for `0xEF 0xBB 0xBF` (<https://github.com/sciunto-org/python-bibtexparser/blob/master/bibtexparser/bparser.py#L103-L105>). What is `0xFE 0xFF` supposed to be for? Isn't it for UTF-16?

However, according to <https://docs.python.org/3/howto/unicode.html>:

[2016-01-07 13:02] #44 closed

[2016-01-07 13:17] humm opened #48 "Better messaging when doc file is not found"
If a previously present doc file has been deleted outside of pubs, pubs print confusing statements when the user tries to open it:

[code]

[2016-01-07 20:05] humm commented on #23
Reopening a closed issues about dark aspects of encodings... you are looking for that much problem this early in the year ? :)

I went around and did some testing when investigating that bug. The thing is, the xml2bib does include the BOM by default, but has an option to not include it in the file. The produced file is UTF-8. See for yourself, the file is in bibexamples:

    bibutils.bib: text/pl

[2016-01-07 20:08] humm commented on #23
This issue warrants a new label all on its own. :)

[2016-01-07 21:29] omangin commented on #23
Nothing is wrong with your fix except that in my opinion this should not be fixed. From what you say it seems that this is a bug of xml2bib adding a BOM it should not be adding. So there is no reason to add code to pubs that is meant at fixing other programs bug.

[2016-01-07 23:55] humm commented on #23
First, here is bib2xml help:
[code]
So `xml2bib` will write the BOM, while `xml2bib -un` will not. It is not a bug, it is a choice for the default behaviour.

Second, I figured it out. This is bibtexparser's bug.

[2016-01-08 00:12] humm commented on #23
First, let's clarify: `0xEF 0xBB 0xBF` is the utf-8 representation of the *unicode* character `U+FEFF` (*not* `0xFE 0xFF`).

All right, let's open a Python 3 shell:
[code]
Ah ah! Let's look into it:
[code]
In fact, the correct code is:
[code]
Because `bytes` and `str` are different things in Python 3. And bibtexparser, not only uses `str` in Python 3 like the `unicode` function in Python 2, but al

[2016-01-08 00:25] humm commented on #23
BTW, I do think that leaving those 2 lines there are a good defence against bibtexparser potential future bugs with the BOM. We're basically sending the same data to bibtexparser, but in a simpler way (the BOM is *useless* in utf-8). So, I am closing this. If you disagree, reopen it.

[2016-01-08 00:25] #23 closed

[2016-01-08 19:19] benureau opened #49 "Display error when pubsdir not found"
Currently, pubs fail silently if the pubsdir listed of pubsrc does not exists.

Possibly, treat this at the same time as #20

[2016-01-09 01:02] humm opened #50 "Better dialogue for rename command"
This is the current state of a successful rename:
[code]

Beside the inconsistent formatting of the citekeys in the autocompletion dialogue, the command should also verbally confirm the operation that took place.

[2016-01-10 21:09] #40 closed

[2016-01-12 07:35] 73 opened #51 "No error on `pubs add file` if `file` is not a bibtex file"
Title says it all.

[2016-01-15 02:06] humm commented on #51
Hi @73, Could you produce a reproducible example ? I does not work for me:

[code]

[2016-01-15 08:58] 73 commented on #51
1. There should not be a trace.
2. Try to add http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=6234405

[2016-01-15 17:51] omangin commented on #51
Here is what I get:
- when downloading the file manually and then adding it:
[code]

- when adding the web address:
[code]

- when using `pubs add -d 'http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=6234405'` it correctly opens an editor to fill in the bibtex file.

[2016-01-15 17:55] 73 commented on #51
My case was the first one, downloading and then adding (should have explained, mea culpa).
[code]
It not the correct error, isn't it? It is not a hard bug, just something that should be fixed sometime.

[2016-01-15 18:00] omangin commented on #51
Yes. Indeed. This should be catched by the `read_file` method from `content.py`. Actually this method should be called `read_text_file` and should catch and re-raise the error with a more explicit docstring like "Unknown encoding (maybe not a text file) for: ...". It is typically the kind of cases that @humm mentions in his comment to #52.

[2016-01-15 23:37] omangin commented on #25
It seems that a file is missing in 3b0ba0bb3c. (see  f75422)

[2016-01-16 00:08] #51 closed

[2016-01-16 20:54] #50 closed

[2016-06-01 13:33] #13 closed

[2016-06-01 13:33] #14 closed

[2016-08-09 14:46] minthemiddle opened #55 "Feature Request: Enable more than one template"
Right now, `Pubs` ships with one article template when generating a blank entry. As not all entries come via DOI or ISBN (and hence would get an auto entry) but your sources my always be the same, such as `web` and `book`, it would be handy to add entries with various templates.

The command could be something like `pubs add -t book` for a `book.py/bib` template.

[2016-08-09 16:42] minthemiddle opened #56 "Submit to PyPi (so you can install via pip)"
Right now I need to manually install `pubs` via `python setup.py install`. When working with virtualenvs and different versions of Python (and actually in general), managing Python packages with `pip` - hence `pip install pubs` would be the the preferred solution. There is a [handy description](https://packaging.python.org/distributing/#uploading-your-project-to-pypi) for project maintainers on ho

[2016-08-09 16:48] humm commented on #56
Indeed. Actually you can already do `pip install pubs`, but the version is not up-to-date. I'll do some clean-up on the code in the next days (some tests are not passing anymore), and I'll release a new version.

[2016-08-09 16:50] humm commented on #56
By the way, you can already use pip! With any github repo. Just do:
`pip install --upgrade git+https://github.com/pubs/pubs`

[2016-08-09 16:51] minthemiddle commented on #56
Ah, cool. I just tried the casual via `pip` on Windows and OSX with Python 3.5. Here is the error message:

[code]

But hey, that is no surprise any longer :)

[2016-08-09 16:53] minthemiddle opened #57 "Cannot edit conf"
When running `pubs conf` (both as user and root in a virtualenv, latest Win and OSX), I get an error message:

`error: [Errno 13] Permission denied`

[2016-08-09 16:53] humm commented on #55
That should be easy to do. Adding it to the list!

[2016-08-09 17:13] humm commented on #57
Hum... your conf file should be located at `~/.pubsrc`. Can you edit it directly, with, for instance `vim ~/.pubsrc`? By the way, we tested pubs on OSX and Linux, but never on Windows. You may get strange issues there.

[2017-03-17 15:40] asclepius commented on #34
Anyone still working on autocompletion?  The interface is otherwise great.

[2017-03-17 17:06] 73 commented on #34
Not at the moment.

[2017-04-14 23:02] omangin opened #58 "Broken tests for python2"
The use of open instead of io.open breaks the compatibility with python2.

[2017-05-11 19:34] #49 closed

[2017-05-11 19:36] omangin commented on #49
Note: the issue was only occurring for `debug = False` in the config.

[2017-05-11 19:46] omangin opened #60 "Should BrokenPipeError be ignored?"
Issue #49 was caused by the exception of `IOError` in the main `pubs` executable. The fix now better targets the exception (`BrokenPipeError`) so that this does not happen anymore.

Also, the exception is actually only filtered that way when `debug = True` is set in the configuration. Otherwise (i.e. for most users) a message is printed anyway.

Finally, to me, the broken pipe case is a legitimate

[2017-05-11 19:51] omangin commented on #60
Note:, I actually removed the code (a02f67f) for the `BrokenPipeError` since it was not behaving as expected.

[2017-05-13 03:40] omangin commented on #34
I finally found some time to get a first working version of autocompletion. It uses [argcomplete](http://argcomplete.readthedocs.io) and hence is supposed to be working both with bash and zsh, although I only tested it on bash so far.

It currently works for the commands, citekeys, and tags. The plugin API still needs to be adapted, and some testing added (although it's not clear how).

Testing, s

[2017-05-15 18:09] omangin commented on #34
**Update:** zsh seems to work well through `bashcompinit`. It just needs to be activated explicitly for pubs. See [README#autocompletion](https://github.com/pubs/pubs/tree/feat/autocomplete#autocompletion).

[2017-05-24 18:50] omangin opened #65 "Merging entries"
This is a discussion on ways to add more advanced behaviors for merging entries. The basic behaviors when importing an entry with an existing citekey are to either overwrite the existing one or change the citekey.

On the long run, it would be useful to be able to interactively merge entries as well as detect whether the new one is about the same paper or entity than the existing one, and to exten

[2017-05-24 23:03] omangin commented on #57
I assume this was fixed at the same time as #63. Please reopen if still an issue.

[2017-05-24 23:03] #57 closed

[2017-07-05 15:26] beuerle opened #68 "add version control to pubs library"
So far it is possible to keep one's pubs library in version control by initiating a git repository and keeping track of changes of the individual files in `bib`, `meta` and `notes` manually by hand (ignore files in `doc` if preferred).

Feature request: add version control possibility

* configure VCS in `.pubsrc` (git, hg, bazaar, ...)
* configure behaviour in `.pubsrc`
	* include `doc`
	* ...
*

[2017-07-05 15:29] beuerle commented on #56
For people running Arch Linux, there's an AUR package available:

https://aur.archlinux.org/packages/pubs-git/

Maybe add that to an installation section in the README?

[2017-07-05 15:47] beuerle opened #69 "websearch fails for python3"
If run with `python3` the `websearch` command fails:

[code]

`urllib` has been split up into different subpackages, and the `quote_plus` function is now in `urllib.parse`. Thus `urllib.quote_plus` has to be changed to `urllib.parse.quote_plus` in `websearch_cmd.py`, however this will break `python2` compatibility?

[2017-07-05 16:53] benureau commented on #69
@beuerle: Thanks for the issue report. We plan to drop support for Python 2, but not right now. So we'll write two code with `try catch` statements around the import. I am putting this problem at the top of the todo list.

[2017-07-05 17:02] beuerle opened #70 "allow different file extension for note files"
The file extension for note files is so far hard-coded as `txt`. Although the use of any markup language in a note is possible, editors would use syntax highlighting i.e. for markdown automatically when the file extension is `mkd` and command `pubs note citekey` is called. The file extension could maybe be set in the config file?

[2017-07-05 18:17] omangin commented on #68
Thanks @beuerle. That's indeed a behavior that we have thought about including as a plugin but chose not to implement until now. It is actually a good example of what plugins are for since this does not belong to the core functionalities of pubs.

The road to implement the plugin however requires logging the various events (basically all modifications to data or documents) at the level of the repo

[2017-07-05 18:26] omangin commented on #70
Yes, that's an issue and using a configuration entry probably is the simplest way to handle it. So I'll start with this one.

On the long run, it would be better to also support changing the file type in the command line to handle other kinds of notes (e.g. pdf scans).

[2017-07-05 21:10] beuerle commented on #70
@omangin: thanks for the quick implementation!

I agree. but for this to make sense a bigger overhaul of the _note architecture_ would be necessary, as so far one reference gets associated with one notes file by the citekey.

Additionally, as I am new to pubs: there's currently no way to _dump_ the notes file to the terminal, is there? Something like

[code]

If you just want to access the notes f

[2017-07-05 22:07] omangin commented on #70
Yes, that's true. One of the reasons the note are not fully implemented is that we initially intended to support them through a plugin. I believe that was the reason for #9. There is kind of a repetitive pattern in the way docs and notes are handled but until there really is the need for other kinds of attachements we can stick with having notes as a core command.

What should have been done was t

[2017-07-06 21:53] beuerle commented on #70
I haven't had the time yet to actually dig into the code to fully understand how you set pubs up, so I have no opinion on whether it would be necessary to implement this feature as a plugin.

Yes, sub-commands would be necessary. Otherwise the functionality of `pubs note` would stay very rudimentary (might be a feature?). I think this would be very beneficial and could be implemented rather easily

[2017-07-09 21:37] benureau opened #72 "Make autocomplete faster"
When I managed to get autocomplete to work, it seemed slow on a 1000+ repo (with SSD harddrive, see #61). It should not be. The behavior should be measured precisely (not sure yet how), and possibly fixed if not too complicated.

[2017-07-09 22:28] benureau commented on #58
Ok, so I upgraded pyfakefs from 2.8 to 3.3(dev) and some work was needed to make our test suite work again (see [bug/unittests](/pubs/pubs/tree/bug/unittests)). I'll be attacking the compatibility with Python 2 next.

[2017-07-12 08:22] benureau commented on #58
Resolved with #73

[2017-07-12 08:22] #58 closed

[2017-07-12 16:22] #70 closed

[2017-07-12 16:23] omangin commented on #70
I'll move the improvements on the note command to another pull request.

[2017-07-12 16:25] omangin commented on #34
Let's close this one since autocompletion has been merge and #72 is opened for the speed issue.

[2017-07-12 16:25] #34 closed

[2017-07-12 16:29] omangin opened #75 "Note command improvements"
_Originally in #70_

Add sub-commands for notes, the same way docs are handled except that there would be an edit command for notes. This enables for example dumping the notes to `stdout` from a simple `pubs doc open -w cat <citekey>`. The idea is then that user specific behaviors (like piping to Pandoc) are easy to customize with the alias plugin.

The first steps for that should be the following

[2017-07-12 16:30] omangin commented on #70
This is what #9 was about.

[2017-07-12 18:44] eschen42 opened #76 "Cannot add DOI because "error: 'ascii' codec can't encode character ...""
I installed pubs with
[code]
Should the `--upgrade` switch have been included in the instructions on the README.md page?

I have a DOI that apparently pubs add is allergic to (another DOI added fine):
[code]
One of the authors is named `Sjöström`; position 80 is that of the first vowel in this name.

After this,
```./bib/Wiklund_2008.bib```
exists with zero size, and I cannot use
```pubs remove Wi

[2017-07-12 18:51] benureau commented on #76
Thanks for the issue!

The `--upgrade` is needed if you already installed `pubs`, to get the lasted version.

I was able to reproduce your bug. It appears only with Python 2, with Python 3 you don't have the problem. But switching to python 3 might not be an option for you.

I will attend the bug, but not before Friday, unless @omangin gets to it first.

[2017-07-13 03:27] eschen42 commented on #76
Awesome. Thank you.

[2017-07-14 01:58] omangin commented on #76
Thanks @eschen42 for the notice.

There were actually several issues here.

- an actual bug on writing non-ascii content from python 2 (which ended up leaving an empty file as you told),

- this error was not caught by the `add` command,

- the remove command does not work when there is no metadata for the paper. This comes from the fact that we use metadata files as the source for the citekeys in

[2017-07-14 18:37] benureau commented on #76
Thanks @omangin for these explanations. Yes, a `pubs doctor` might make sense. But we should also strive to act on the user intent: if he wants to remove a paper or a citekey, he might not care much about the rest of the repository (let's say he is on a deadline or something): a warning, a demand for a confirmation and a suggestion to run `pubs doctor` might be best.

[2017-07-14 18:39] benureau opened #78 "Check on add that files are not empty"
See #76 for rationale.

[2017-07-14 22:35] omangin commented on #76
Yes, that what I had in mind with having separate commands for checking and cleaning.

[2017-07-17 17:05] #69 closed

[2017-07-17 17:11] benureau opened #80 "Bash completion interferes with... bash completion."
When doing `pubs add -D <doi> -d ~/Downloads/articl` + <TAB>, to complete into `article.pdf`, the bash completion of argcomplete seems to take over, rather than the more direct filename completion from bash. For me, that's almost two seconds to wait whereas before it would be instantaneous. I haven't diagnosed the problem further on, but it may be possible to deactivate argcomplete on some parts o

[2017-07-20 14:19] guillaumecherel opened #81 "Add a citation for a web page"
How can I add a citation to a web page?

I tried to follow wikipedia's guidelines (https://en.wikipedia.org/w/index.php?title=Special:CiteThisPage&page=LaTeX&id=413720397). I ran `pubs add` and then typed in something like:

[code]
When I tried to edit the citation again, only the fields `author`, `title` and `year` were present. The others were lost.

[2017-07-20 18:43] benureau commented on #81
Indeed I was able to replicate your bug. The url is transformed into `link`, which may or may not be problematic (I'll have to look into it). But the note get swallowed, which is not expected. I'll get to the bottom of it.

[2017-07-22 19:48] #76 closed

[2017-07-22 20:21] omangin commented on #81
For the `url` to `link` issues, it's because we call bibtexparser with the `homogenize_fields=True` parameter (see [bibtexparser/bparser.py#L108-L117](https://github.com/sciunto-org/python-bibtexparser/blob/master/bibtexparser/bparser.py#L108-L117) and [bibtexparser/bparser.py#L241](https://github.com/sciunto-org/python-bibtexparser/blob/master/bibtexparser/bparser.py#L241)).

Considering that bib

[2017-07-22 21:32] benureau commented on #81
Hum... there are two things then:
* should `url` be changed to `link`? Possibly not.
* extraneous fields (such as `notes` here) should not disappear without some kind of warning and/or confirmation from the user.

[2017-07-29 19:03] omangin commented on #30
It seems that this issue has been solved in version `0.6.0`.

Regarding warnings on missing required fields, that's a good idea but that's a minor improvement that is not necessary for releasing `0.7.0`. Should we open a new issue for it?

[2017-07-29 19:03] #30 closed

[2017-07-29 19:21] omangin commented on #81
I've just opened an [issue on bibtexparser](https://sciunto-org/python-bibtexparser/issues/171) for the `url` part.

I cannot reproduce the issue with the notes, though. @guillaumecherel, what versions of _python_, _bibtexparser_, and _pubs_ are you using?

[2017-08-01 15:26] omangin commented on #81
So, the `url` issue is now fixed upstream (sciunto-org/python-bibtexparser/pull/173).

Since I cannot reproduce the `note` issue with the current versions of pubs and [python-bibtexparser](http://github.com/sciunto-org/python-bibtexparser), I'll close the issue. @guillaumecherel, feel free to reopen it if you still experience the problem after updating both software from their latest git versions.

[2017-08-01 18:28] benureau commented on #81
I can reproduce the note issue, with bibtexparser 0.6.2, on macOS 10.12.6, python 3.6.1, with the latest version of pubs. I reopened the issue as a result. I'll look into it.

[2017-08-01 20:05] omangin commented on #81
Indeed, the bug is there for v0.6.2 of bibtexparser but has been fixed since then. It's an upstream bug anyway. I believe we should close this issue and eventually update the dependency to bibtexparser to require at least v0.7.0 when it's out…

[2017-08-01 22:09] benureau commented on #81
Ok, good for me.
@guillaumecherel: So to entirely fix the problem you need to install the latest development version of bibtexparser.

[2017-08-01 22:09] #81 closed

[2017-08-02 03:51] omangin commented on #56
With the merge of #82, we should be good for the version update and the new upload to pypi!

[2017-08-02 12:36] alecive commented on #56
Why not using travis to submit to pypi after every push and test passes?

[2017-08-02 13:16] benureau commented on #56
@alecive: That's an interesting proposition. We'll probably submit this one to PyPi manually, and look over what need to be done to use travis this way. I am not sure the tests are up to par for this yet.
@omangin: I agree. Should you or should I?

[2017-08-03 00:45] omangin commented on #56
@benureau You're the owner of the Pypi package, so I'll let you do it. I've created a PR (#83) with some minor updates to validate before updating to 0.7.0. You'll also need to create a tag after merging.

@alecive That's a good idea but should only happen after version updates so I'm not sure Travis should take care of it. Also, I'm not sure that's feasible without exposing credentials publicly.

[2017-08-03 08:50] alecive commented on #56
I am pretty sure you can create specific travis rules that are executed only when a new tag/release is pushed to master. I didn't dig into it, but you can already specify rules that e.g. work only on master or on pull requests, so it makes sense to me if there are options only for tags.

[2017-08-03 13:59] omangin commented on #56
Indeed: https://docs.travis-ci.com/user/deployment/pypi/. And they have an option to encrypt the password. I'm however not 100% sure it really worth the effort compared to `python setup.py sdist upload -r pypi`…

[2017-08-03 21:26] alecive commented on #56
Sure, but you know how much I love to spread the travis and CI verb everywhere :sunglasses:

[2017-08-06 20:59] eschen42 opened #84 "pubs conf confusion"
I don't know how to edit `~/.pubsrc` except directly. Here's what happens when I try to use `pubs conf`:
[code]
Is this an issue, or am I just doing something wrong?

Thank you for pubs - it's life-changing!

[2017-08-06 22:00] omangin commented on #84
Hi @eschen42. Thank you for your comment. We're glad you like pubs!

This is indeed a bug that we recently fixed with #82. Updating pubs to the latest git version should fix it (or to version 0.7.0 when it's out).

Please re-open you still experience the issue.

[2017-08-06 22:00] #84 closed

[2017-08-06 23:42] omangin opened #85 "Add a changelog file"

[2017-08-06 23:51] omangin opened #86 "Version in two different places"
Currently version has to be updated as [`__version__` in `pubs/__init__.py`#L1](https://github.com/pubs/pubs/blob/master/pubs/__init__.py#L1) and in [`setup.py`#L5](https://github.com/pubs/pubs/blob/master/setup.py#L5). This is not really ideal.

We should only keep one. See https://stackoverflow.com/questions/2058802/how-can-i-get-the-version-defined-in-setup-py-setuptools-in-my-package for solut

[2017-08-21 08:52] beuerle commented on #65
as well as detect whether the new one is about the same paper or entity than
the existing one

As this happened to me just recently (adding a paper which I already had in the pubs library): wouldn't it be rather simple to check whether the object's DOI to be added is already present in the library (if the object has a DOI of course)? There should not be any two objects with the same DOI in the lib

[2017-08-21 10:04] benureau commented on #65
Yes. DOIs and ISBN are rather trivial to check. There may be subtelties with versioned DOIs, but as an "helper" feature rather than a guarantees, it does adds value to `pubs`.

[2017-09-06 02:24] benureau opened #87 "More robust pubs list"
`list` command code needs to be more robust in case one or more bibdata entry are unreadable. I had one bib file empty, and I got
[code]

[2017-09-27 11:51] amartos opened #88 ""pubs list" has different behavior in custom commands than in terminal"
In a terminal, if you use the command `pubs list -k abstract:"Only a few genes remain"` to retrieve the key corresponding to the article `doi:10.1371/journal.pgen.1002876`, it indeed outputs you the right key.

However, if you define the command `exportlist = !pubs list -k "$@"` in the conf file and try `pubs exportlist abstract:"Only a few genes remain"`, the output is `error: Invalid query (a)`.

[2017-09-27 12:07] amartos opened #89 "Add the export option in the "pubs list" command"
For now, to `pubs export` the output of `pubs list` commands, a custom command needs to be set up. A simple option (as "-e") could be added, for simplicity. It would be useful to generate a bib file with tagged papers.

[2017-09-27 15:57] amartos opened #90 "Add the ability to list by years range"
Currently only papers published a specific year can be retrieved from the `pubs list year:YYYY` command. It would be nice to be able to give a range of years instead, for eg. *via* `pubs list year:YYYY-YYYY`.

[2017-09-28 19:18] omangin commented on #88
Thanks @amartos. That's indeed a bug of the alias plugin. The argument escaping seems to be broken while calling the shell. I'll look at it.

[2017-09-28 19:32] omangin commented on #89
Yes, that's a good idea for improvement. The list command definitely needs more options for the print format. Maybe `bibtex` should be one of them. This however raises the question of how much the two commands overlap and whether we should keep both or merge them. Any though?

In the meanwhile you can pass several keys to the `export` command so a `search = !pubs list -k "$@" | xargs pubs export `

[2017-09-28 19:37] omangin commented on #90
Yes! Supporting something like `year:2000-` would be great too.

[2017-09-28 19:39] #56 closed

[2017-09-28 21:59] amartos commented on #89
From a purely academics/non-programmer-terminal-friendly personal POV, keeping the two commands separated is not a big deal. The main use of an export option in the `list` command would be for tagged papers, or for papers with a specific author, IMO. The export command do the rest just fine. I don’t see the difference between having one command with many options (and surely aliases), or two explic

[2017-09-28 22:14] amartos opened #92 "Add search through attached docs"
The `list` or `doc` commands could also be used to search throughout the attached docs for (combinations of) keywords. For now, I’m using the `pdfgrep` command to do that.

[2017-09-29 15:27] omangin commented on #92
That's a good idea too, although not a priority for now. I don't know how good is the result returned by `pdftotext` and how fast it is but this would probably require storing the text of the pdf in the cached metadata. Probably needs to be addressed together with #15.

[2017-10-04 03:04] #88 closed

[2017-10-17 16:16] omangin opened #93 "Meta files not saved on edit"
When using `pubs edit -m <citekey>` modifications are not actually saved.

[2017-10-18 08:58] benureau opened #95 "robust handling of DOIs"
Currently, only `pubs add -D 10.1007/s00422-012-0514-6` works. But given how DOIs are frequently displayed in webpages and articles, pubs should also accept:

[code]

[2017-10-18 14:58] #93 closed

[2017-11-02 17:45] #7 closed

[2017-11-28 22:13] wflynny opened #98 "Alias plugin command descriptions"
I've added quite a few custom commands via the alias plugin (about as many as the default number of commands).  It would be helpful if we could specify a brief description of these commands that would be available to `pubs --help`, for example.

I've modified the `Alias` class in `pubs/plugs/alias/alias.py` so that I can include a small description in the alias definition in the conf file.  For no

[2017-11-28 22:35] wflynny opened #99 "Print help on when no subcommands are supplied"
When attempting to use a less-often-used command, it'd be nice if `pubs` printed the main parser help.  For example, this is how the git CLI works.  Are the maintainers open to this behavior?  I've got a [commit on a fork](https://github.com/pubs/pubs/compare/master...wflynny:help-when-no-subcommand) that does just this.

[2017-11-29 17:22] omangin commented on #99
Yes, that makes sense to me. Can you create a pull request for your commit? Also the unit test you removed should be instead updated to check for the expected behavior.

Thanks @wflynny!

[2017-11-29 17:28] omangin commented on #98
Thanks again! Having documentation of the alias function is indeed of interest! We have to check what makes the most sense for the configuration file syntax so that the parsing these does not interfere with the rest. Once that is fixed, it should be straightforward to implement. @benureau, any though?

[2017-12-11 19:57] #99 closed

[2017-12-16 04:12] nerdDan opened #101 "please add "extra info from pdf" function"
repo [1] can extract meta info (doi, arxiv) from pdf. please consider integrate it into pubs.

[1] https://github.com/metachris/pdfx

[2017-12-18 21:17] omangin commented on #101
Thanks for the suggestion @nerdDan. Can you be more explicit about what you'd like `pdfx` to be used for within pubs? Do you mean using it for guessing the title and authors at import time or something to do about the references contained in the pdf?

[2017-12-18 21:49] omangin commented on #98
So, @wflynny. Sorry for only coming back to it now. It seems that if we want to keep the compatibility with the `configobj`, there are basically two options here.

The first one is to use a bash comment starting with `#`. The `shlex` parser would be used to get the content of the comment that would be set as the alias documentation. The issue of this approach is that the comment needs to be includ

[2017-12-19 16:50] wflynny commented on #98
Yep that sounds easy enough.  Will probably get around to it over the weekend/holiday.

[2017-12-19 17:13] wflynny opened #103 "List command: query entries containing unicode"
Related to #15, #87 and maybe #28, #10.

I'm currently aliasing `pubs list "author:<author-name>"` as a primitive search command.  This works well for most cases but fails if the author's name contains unicode characters.  It would be nice to have some fuzzy matching or something similar.  For example,

    pubs list author:Grun
    pubs list author:Gr{\"u}n

fails to return any documents by autho

[2017-12-20 09:23] nerdDan commented on #101
Yes, guessing metadata at import time is exactly what I mean.
This feature is included by many reference managers such as Mendeley and Zotero.

It would be great if you can import a file with this command:
[code]

[2018-01-02 20:45] omangin commented on #98
Closed by #104.

[2018-01-02 20:45] #98 closed

[2018-01-02 21:03] omangin commented on #101
Yes, that would indeed be a nice feature to have. I am not sure yet about which back end is the best suited for this. [Pdfx](https://github.com/metachris/pdfx) is one option, but `pdfinfo`  and `exiftool` also do the job and have more chances of being already installed.

I'll have a look at these, please fill free to comment suggestions or a pull request…

[2018-01-02 22:04] omangin commented on #103
Thanks! There are actually several issues here.

1. The comparison during the search should occur on normalized unicode strings (except maybe when some option is set that we could call `--strict` or `--no-normalize`).

2. In your example, the author name should be converted to unicode before any manipulation is performed, by calling bibtexparser's `convert_to_unicode` customization. However I'm no

[2018-01-05 20:07] omangin commented on #87
To come back to this topic, I'm not sure `pubs` should be robust to this: an empty bibtex is not a correct bibtex and repository being bibtex based, that something that should be at least notified. I'm fine with assuming that the repository is always in a sane state and failing when it's not.

What the code should, however, do here, is to provide a better message that includes the erroneous citeke

[2018-01-05 23:10] #90 closed

[2018-01-07 15:27] #95 closed

[2018-01-09 14:11] #33 closed

[2018-01-09 14:31] beuerle commented on #68
FWIW, I just configured an alias in `pubsrc` for that for now:

[code]

[2018-01-19 16:15] asubedi opened #109 "sort list ouput according to date"
It would be nice to have the option to sort the output of the list command according to the date.

[2018-01-20 20:27] omangin commented on #109
Yes, indeed. For now the output is sorted according to the date of addition to the repository, and there is an argument for sorting alphabetically according to the citekey. Before adding this we might want to make it a little bit more general and have the ability to sort according to various other fields (eventually a list of them following lexicographic order). Does anyone have suggestions about

[2018-01-22 19:01] wflynny commented on #109
Agreed.  I think the following options should be included:

    -r, --reverse
    -o, --order field1[,field2,...]

so that these use cases can be supported:

    pubs list -r
    pubs list -ir -o author,date

It would also be nice if some options have aliases that resolve to the same filter.  Such as `date` and `year` both resolving to sorting by date of publication.

[2018-01-22 19:05] wflynny commented on #109
I'd also argue if changes are coming to `list_cmd`, then citekey justification on listing should be added too (e.g. adding some string formatting to `pretty.py: paper_oneliner`), though this should probably be in a separate issue.  Something like: `u'[{citekey:>30}] {descr} {tags}'`

[2018-01-23 15:30] sjystu opened #110 "pubs is not readily available in Window CMD after pip installation"
Hello,

I was wondering if there would be any way you could upgrade pubs installation process  for Windows command line users.

In Linux, you can use "pubs" in command line as soon as you install it.
However, in Windows it does not seem to be added to PATH.

When I installed another Python package called "gscholar" using pip, it was automatically added to Windows PATH so that users can employ the

[2018-01-23 18:29] wflynny commented on #110
I think this just requires a change from `scripts=` to `entry_points=` in `setup.py` [[1]].  Looks like it may be recommended practice too [[2]].

This should be too hard in theory, but has `pubs` been tested at all on Windows?  @omangin a Windows CI build would need to be made, correct?  How much work it that?

[1]: http://setuptools.readthedocs.io/en/latest/setuptools.html#automatic-script-creat

[2018-01-23 20:39] omangin opened #111 "Justify citekeys in list command"
As mentinoned by @wflynny  in #109:

Any though for or against this? We might want a config option to overcome this as well as a mechanism for not indenting for citekeys over a limit length. The indentation can easily be determined from the list of citekeys to print.

[2018-01-23 20:41] omangin commented on #109
I created a separate issue for the citekey indentation.

Any volunteer for implementing the sorting option?

[2018-01-23 21:16] omangin commented on #110
Hi @sjystu. We indeed do not support Windows and I have honestly no idea about how `pip` installs things on it. However the `pubs` script that is currently used has little chance to execute since it explicitly refers to `/usr/bin/env python` as an interpreter.

I have created a branch with @wflynny's suggestion on using `entry_points` instead. You may try it to check whether that works. Note that

[2018-01-24 02:10] wflynny commented on #111
FWIW, I have this implemented in my personal build and it greatly improves readability for me.

This is a good idea.  Maybe a flag to enable indenting and another to config option to define indent size / maximum indentation size before not indenting.  Assign this to me and I'll try to get a PR going over the weekend.

[2018-01-25 11:13] pmarkaide commented on #87
If I can add to the discussion, at very least pubs should avoid adding bib entries without citekeys as a minimal field.

I can add this without an error or even warning:

[code]
And later is not easy to remove an entry _without_ citekey (I solve it with `pubs remove ' '`)

Other fields can be all optional or set warnings for some basics like year, author, journal as will be false negative result i

[2018-01-25 21:00] omangin commented on #87
Thanks @pmarkaide. That's indeed a bug that needs to be fixed. I'll add a new issue for that.

[2018-01-25 21:02] omangin opened #113 "It should not be possible to add entries with an empty citekey"
See original comment from @pmarkaide in #87.

[code]

[2018-01-25 22:23] wflynny commented on #111
Thoughts on specific formatting?

    A: [citekey1    ] description
    B: [citekey2]     description

I've also added configuration options for the following two things:

1. wrapping long lines at specified width (and for wrapping to respect the indentation)
2. change citekey delimiters, e.g. `[citekey]` vs `_citekey_` vs `^citekey$`, etc.

By default, output will look identical to current.

[2018-01-25 23:15] omangin commented on #111
Good point. I was initially more inclined toward B but A seems to make more sense visually. No strong opinion though.

For the wrapping, you could also add an `auto` mode that uses the value in the `$COLUMNS` environment variable or the output from `tput cols`. For consistance with the coloring behavior, it however needs to be disabled when `stdout` is piped to another process (the same way it is

[2018-01-26 01:16] benureau commented on #111
The underscore delimiters `_citekey_` might be confusing, as underscore can be part of a citekey. Then comes the decision whether we should guard user against this or not. We could also consider switching to a format such as:
[code]
Which saves one character, and would probably look nice with layout B. But that's not critical.

[2018-01-26 02:56] benureau commented on #87
@omangin: by robust I mean that if a bibentry is unreadable, the repository should isolate it, warn the user, and display the other entries. It could be something like:
`warning: bibentry 'citekey' could not be parsed. It is advised to run 'pubs doctor'.`
The repository should continue to work with all the valid bibentries. In other words, it should fail gracefully.

[2018-01-26 03:23] omangin commented on #113
Cannot actually reproduce the issue. @pmerkaide, which version of `pubs` and `bibtexparser` are you using. The example above is not even parsed for me.

[2018-01-26 03:30] omangin commented on #87
@pmarkaide  Can you have a look at my comment on #113?

@benureau That's what I understood. My point was to take an alternative, more extreme approach: display an error instead of the warning. This was partially because `pubs doctor` does not exist yet, so I'd rather enforce that the repository is fixed early (for instance with `pubs edit <citekey>`. Although the other approach is fine too.

[2018-01-26 18:36] #113 closed

[2018-01-27 22:20] pmarkaide commented on #113
Sorry for the delay. I see that you've made a commit and close the issue, but I assume the info is still relevant:

[code]
Both installed through pip.

As you can't even parse the example, I've again added the bib entry above, just to be sure. The bib is added "correctly":

[code]
as you see, I've conda environment installed. If you need full package list, just ask :)

[2018-01-28 19:16] pmarkaide opened #115 "manual bib/citekey edition"
Even after careful examination during data entry, I've found some errors in some of my bib entries. How should I edit those safely? I can't see the cache so I don't know how will impact my manual editions.

Also related, how I should edit the citekey itself? if the citekey has the `AUTHORYEAR` format, and multiple entries are added for the same year and author, pubs conveniently add a letter (`AUT

[2018-01-29 04:05] benureau commented on #115
Dear @pmarkaide,
You should use the `pubs edit <citekey>` command. This will prompt you to edit the bibtex file, including the citekey. Pubs will take care of updating all necessary information. You should not edit the file directly, as if you change the citekey, the name of the file and the metadata needs to be changed as well.

You can reorder the citekeys, but for the moment, you can edit only

[2018-01-29 09:02] pmarkaide commented on #115
I completely miss that command :$. I was in the middle of a paper reading session and I stop my self before editing bib file, "first ask or you will regret later". Later in the weekend, I post the issue, without testing first all commands. I'll test everything before next time :)

I've tested both `pubs edit` and `pubs edit -m` and everything seems fine. The latter is very useful as I would like t

[2018-01-29 15:40] omangin commented on #113
Indeed, I can reproduce it now with these versions.

The bug is however fixed in the latest git version. The fix will be in the next release but you can already install the latest development version (see [https://github.com/pubs/pubs#installation](https://github.com/pubs/pubs#installation)).

[2018-01-29 15:57] omangin commented on #115
Be careful that the document is *not* moved automatically when you edit it's name in the metadata file! If your document is handled by pubs (i.e. in your pubs repository) then it is named after the citekey. If it's outside, then you would have to also move the corresponding file.

Please let us now by opening an other issue if these do not cover your usage so that we can think about adding corresp

[2018-01-29 15:57] #115 closed

[2018-01-30 22:02] omangin commented on #110
Closing for now. Please re-open if you tried the latest version of the code with the _entry-point_ method and have more feedback.

[2018-01-30 22:02] #110 closed

[2018-01-31 02:51] benureau commented on #110
@sjystu: could you tell us your version of Windows, python, and how it was installed?
@omangin: since Python 3.3, `#!/usr/bin/env python` is supported on Windows. See https://docs.python.org/3.6/using/windows.html#shebang-lines . If we support pubs on Windows one day, we might do it for >=3.3 only.

[2018-01-31 03:13] sjystu commented on #110
Thank you so much for your kind response.

I used Python 3.5 on Windows 10 64 bit system.

FYI, I used Anaconda.

Please let me know if you need any other information from me.

Thanks.

From: Fabien C. Y. Benureau [mailto:notifications@github.com]
Sent: Tuesday, January 30, 2018 9:52 PM
To: pubs/pubs <pubs@noreply.github.com>
Cc: sjystu <sjysky@gmail.com>; Mention <mention@noreply.github.com>
Subj

[2018-01-31 05:27] omangin commented on #110
@benureau Good to know. Do you mean that as an argument towards moving back to using a script? The `entry_point` solution seemed more elegant overall since we don't have to mention the interpreter at all and since it was anyway overruled by the entry point that the setup-tools were generating.

@sjystu Did you try the latest version of the code?

[2018-02-19 20:31] #25 closed

[2018-02-19 20:39] omangin opened #119 "Removes the use of the `link` customization"
Using such link format does not seem to be standard and does not have effect any more since bibtexparser uses the `url` field by default.

Removing the url parsing would go in the direction of being format agnostic for better compatibility. To replace it, a method could be added to try to interpret the `url` field as an url (trying different formats), for example to be able to automatically downlo

[2018-02-20 01:43] benureau commented on #119
What was the rationale behind the `link` customization?

The link customization is broken currently. It duplicate the entry and each edit will add a comma, ending up with something like this:
[code]
And yes, using `link` is problematic, as we are actually removing the `url` field from the the bibtex (just verified that). We should absolutely not do that. So yes, I agree, we should remove the link.

[2018-02-20 22:39] omangin commented on #119
Apparently it was assuming some format with potentially several links and for each, an actual link, a protocol, and a link displayed text. The customization was parsing it and outputting a list of dictionaries to represent the data. The code in pubs was relying on this structured information at write time but this was not used anywhere else.

What I suggest is to be agnostic of the link/url format

[2018-02-20 23:17] #103 closed

[2018-02-20 23:22] omangin opened #121 "Ascii to unicode comparison for queries"
The search query should probably be compared to an ascii equivalent of the field's value when it contains unicode characters. Following the same scheme as for case sensitivity: a search query with only unicode characters is compared to the ascii equivalent of the field (through unidecode) and a search query with non-unicode characters is compared to the unicode. The corresponding options to force

[2018-02-21 05:04] benureau opened #122 "common strings in parser by default"
The issue is described here https://github.com/sciunto-org/python-bibtexparser/issues/192, and displayed in action here: https://travis-ci.org/benureau/pubs/jobs/344167378
A fix is coming.

[2018-02-21 05:09] benureau commented on #119
Well it does not anymore with the new version. But a few commits ago, the `url` field would be renamed `link` by bibtexparser.

[2018-02-21 05:12] benureau commented on #119
I agree with that totally. Url processing should be just-on-time. Closing this now, as it seems to be resolved, if I am not mistaken.

[2018-02-21 19:47] omangin commented on #119
Not completely, the code still expect the customization to be there in some place. I will fix it.

[2018-02-27 04:29] #122 closed

[2018-03-02 23:24] omangin commented on #29
This appears to have been solved by 3e3a67183753e.

[2018-03-02 23:24] #29 closed

[2018-03-02 23:42] omangin opened #126 "Issue with journal customization on empty field: remove journal customization?"
Adding an article with an empty `journal = ""` field crashes pubs. This is because the journal customization does not create the dictionary with the `name` field when the original field is an empty string (the value in the bibdata remains `""`), which is not handled by [endecoder.py#L107](https://github.com/pubs/pubs/blob/master/pubs/endecoder.py#L107).

Although this is a quick thing to fix it ra

[2018-03-05 04:40] benureau commented on #126
I don't have much visibility of what it means in practice, but if the journal customization is not useful, then it should be done away with. Why does bibtexparser strips the name field if it is empty (https://github.com/sciunto-org/python-bibtexparser/blob/86f5833100aa6ada36a1917f9223eb7fdad6bbe3/bibtexparser/customization.py#L420)?

When in doubt, we should lean towards preserving the original da

[2018-03-05 04:43] benureau commented on #121
Whenever possible, yes. Using `unidecode`, if it proves indeed to be good enough, would be a good thing here. We really don't want to it ourselves.

[2018-03-05 16:12] omangin commented on #126
Exactly! I will remove it.

What do you mean exactly? Currently a `month = {janvier}` should work.

The only special treatment is for `month = jan` which is not correct bibtex but assumes that a bibtex `string` is defined to convert `jan` to something else. To address that `bibtexparser` automatically include some common strings (when the eponymous option is set). This however implies that the str

[2018-03-05 16:16] #119 closed

[2018-03-08 22:06] beuerle commented on #101
If you mainly import papers/references, where the DOI is given as

[code]

(as is the case for most IEEE papers), you can use this hacky script `pdfimport.sh`:

[code]

and then define an alias in `pubsrc` (adjust the path(s) accordingly):

[code]

This is of course extendable.

[2018-03-14 19:43] #126 closed

[2018-03-18 15:28] beuerle opened #128 "pubs fails with `TypeError: must be str, not dict` (`bibdata['journal']`)"
Something broke along the last couple of commits (probably #127 ?). I didn't have time yet to look into it more closely, but here's the error I get for a simple `pubs list` with the current revision:

[code]

[2018-03-19 01:43] benureau commented on #128
I can reproduce it. I am on it.

[2018-03-19 02:00] benureau opened #129 "Rebuild the cache when the code is updated"
@omangin: Following #128, I guess a future-proof fix is needed. The easiest way I see is to have a version number (or git commit hash) into the cache, and to rebuild the cache every time the code is updated. We could also do it selectively only for updates that are likely to break the cache, but it's more maintenance for less robustness, and few benefits as most users won't be updating the code of

[2018-03-19 02:01] benureau commented on #128
@beuerle: So, this is due to the cache not being up-to-date. The easiest way to resolve it is to go into your `pubs` directory and delete the `.cache` directory. We did not think about this, and none of our unit tests catches this situation.

I am closing this and opening #129 for a more permanent fix.

[2018-03-19 02:01] #128 closed

[2018-03-19 08:00] beuerle commented on #128
Ah, yes. Should have thought about that. Thanks!

[2018-03-21 19:46] anarcat commented on #15
a program similar to pubs called [xapers](https://finestructure.net/xapers/) does this using [xapian](http://www.xapian.org/), a full text search library with Python bindings. i understand the desire to go with whoosh (less dependencies?), but i figured i would add to the discussion with an already existing implementation.

[2018-03-22 02:44] benureau opened #131 "Make the tests compatible with pyfakefs 3.4.1"

[2018-03-22 06:10] benureau opened #132 "`pubs init` should not override an existing configuration"
Wanted to create a quick test repo for debugging, ended-up with my config file written over.

[2018-03-22 10:55] benureau commented on #129
Indeed. A related issue: #86.

[2018-03-23 04:19] benureau opened #134 "improve `pubs remove` dialog"
[code]
A complete one-liner is never provided. This should not be the case, to ensure that the right paper is removed.

[2018-03-23 04:23] benureau commented on #134
related and showing some further possible source of confusions (I am doing a bit of dusting in my repo right now):
[code]

[2018-03-23 15:27] omangin opened #135 "Investigate why the test on `print --help` exit code seems to differ from the actual behavior"
(See  `def test_alone_prints_help(self)` in [test_usecase.py](https://github.com/pubs/pubs/blob/master/tests/test_usecase.py#L206))

In theory the test should fail since the desired behavior is that `pubs --help` exits with code **`0`**. It is actually the behavior I currently have on my computer when running the command. However the test seems to successfully check that the code produced is **`2`

[2018-03-27 13:10] benureau opened #136 "dialog when renaming a citekey with `pubs edit`"
When a user edit a citekey with `pubs edit`, a dialog should confirm the change when the editing is done.

[2018-04-03 16:35] #135 closed

[2018-04-03 17:04] #86 closed

[2018-04-03 17:04] #129 closed

[2018-04-12 17:50] #28 closed, assigned to nobody

[2018-05-15 16:57] yurivict opened #140 "'pubs note' fails with 'No such file or directory' without explanation"
System call log says that it looked for ```nano```.

Suggested fix: It should say that it can't find the editor ```nano```, and suggest how to select a different editor.

[2018-05-16 06:32] yurivict commented on #140
FreeBSD 11.1, pubs-0.7.0

Command:
[code]

[2018-05-16 06:46] benureau commented on #140
Thanks, I can reproduce the behavior. As a fix for your problem, you can either set the variable $EDITOR, or modify your pubsrc configuration file to modify the edit_cmd field.

[2018-05-16 06:52] yurivict commented on #140
Yes, I know, thanks. Please make it suggest these solutions in the error message.

[2018-06-10 10:27] benureau commented on #132
duplicate of #20

[2018-06-10 10:27] #132 closed

[2018-06-17 16:36] yurivict opened #143 "Adding the document with a Unicode character in the author's name fails: 'ascii' codec can't encode character u'\xf6' in position 34: ordinal not in range(128)"
[code]

The document can be downloaded with this command:
[code]

[2018-06-17 16:45] yurivict commented on #143
This is fixed in the latest revision.

[2018-06-17 16:45] #143 closed

[2018-06-18 02:19] benureau commented on #143
@yurivict: yeah, we did some work on unicode a few commits ago. This issue reminds me we need to release a new version soon, and perhaps release bug fixes releases more often.

[2018-06-18 02:21] yurivict commented on #143
So far I just moved the FreeBSD port to the current revision.
But yes, more frequent release would be great!

[2018-06-21 13:44] hpdeifel opened #144 ""add" command ignores doc_add=move"
Steps to reproduce:

1. Set `doc_add = move` in `.pubsrc`
2. Run `pubs add -D foo -d some.pdf`

**Expected behavior**: `some.pdf` is moved to the document directory.

**Actual result**: `some.pdf` is copied to the document directory.

[2018-06-21 13:55] hpdeifel commented on #92
Another easy option is [pdfgrep](https://pdfgrep.org), which already does caching and is often more efficient than `pdftotext`. E.g I have this alias:

[code]

Which gives me case-insensitive full-text search with caching and prints the matching page numbers and lines.

[2018-07-24 00:43] joe-antognini opened #145 "Add references with arXiv ID"
It would be very convenient if papers could be added with their arXiv ID the same way that they can be added with their DOI since many arXiv papers don't have DOIs:

[code]

or

[code]

The way I would see this working is that if the arXiv paper already has a DOI (which can be obtained from the arXiv API), we would use the DOI API call.  If not (e.g., if the paper is unpublished), then we would ge

[2018-07-24 01:31] benureau commented on #144
Hi @hpdeifel,

Sorry for the delay, quite busy right now.
Indeed. I noticed that on my end quite a while ago, but I thought it was limited to my configuration. I'll look into it shortly.

[2018-07-24 01:34] benureau commented on #145
Hi @joe-antognini. Indeed, with the increase prevalence of arXiv, I have been thinking about doing that for quite a while. As an added bonus, with arXiv, we could arrange for the pdf to be downloaded as well. Do submit your work in progress, I think this could be a great addition to pubs.

[2018-07-24 06:52] joe-antognini opened #147 "Use stubs for tests in `test_apis.py`"
The tests in `tests/test_apis.py` make actual HTTP requests.  This should be avoided since it means the tests can't be run if the user doesn't have internet or if one of the servers is down.  (It also leads to slow tests.) Instead we should use stubs that simply return the results of these HTTP requests.

To deal with the possibility that the returned format might change, we could add a test which

[2018-07-24 07:20] omangin commented on #140
Indeed.  This has been discussed already in #46. The default was set to `vi` before being changed back to `nano` (a2911149003213290d11aee3b7d62fa94f0c3678). The current issue kind of demonstrates that `vi` is the only sane default since it is the only one (with `ex`) guaranteed to be there for all POSIX systems. As mentionned in #46, _inexperienced users_ are not really a concern.

I will revert t

[2018-07-24 07:33] omangin commented on #92
Very good point. The question is now whether this deserves a dedicated pubs command (or plugin) or should stay an alias. I see two arguments in favor of the former:
– your alias has to hard-code the document directory and there is currently no way to ask pubs for this information from the command line,
– an important feature of such a search command would be to return the citekeys of the found doc

[2018-07-24 07:48] omangin commented on #147
Good point @joe-antognini! I am in favor of indeed keeping a skipped-by-default test with the actual request. We could set up a periodic task on Travis for that. So please contribute a solution!

I am not sure what is the best way for getting control on whether network dependent tests are run or not. We might consider using test suites for that or a conditional skip based on some environment varia

[2018-07-24 09:22] omangin opened #148 "Tests not passing on Python 3.7"
See https://travis-ci.org/pubs/pubs/builds/390355455.

[edit] The issue actually comes with Python 3.7. It seems to be related to `pyfakefs`.

[code]

[2018-07-25 15:20] omangin commented on #148
Submitted an issue upstream on Pyfakefs: https://github.com/jmcgeheeiv/pyfakefs/issues/421.

[2018-07-25 15:23] #140 closed

[2018-07-25 15:36] #136 closed

[2018-07-25 21:05] omangin commented on #148
OK. So, the issue is already solved in Pyfakefs so we have two options here:
1. make the code compatible to Pyfakefs 3.4 to benefit from upstream updates,
2. backport the corresponding fix [pyfakefs/b3a4a78](https://github.com/jmcgeheeiv/pyfakefs/commit/b3a4a78e1363ac5b6922352a5ef715fb1e051edd) in the version we use.

@benureau Why were we stuck with the outdated Pyfakefs? On the long run it will

[2018-07-26 04:53] benureau commented on #148
Yes, at the time the tests did not work with newer versions of pyfakefs, and there was no reason to upgrade. Now there is. I'll look into it.

[2018-07-31 09:09] #85 closed

[2018-07-31 09:30] benureau commented on #148
I will look at it tomorrow.

[2018-08-01 13:01] #148 closed

[2018-08-01 13:38] #87 closed

[2018-08-03 08:51] benureau opened #153 "Use complete citekeys in prompt"
[code]
In the prompt, the complete citekey should be used.

[2018-08-05 13:22] omangin opened #154 "Move test requirements to `tests_require` in setup file."
Replace `test/requirements.txt` by a `tests_require` entry in the `setup.py`. This also requires making sure that the tests can be run from `python setup.py test`, and changing the Travis configuration accordingly.

[2018-08-05 13:31] benureau commented on #131
closed by #151

[2018-08-05 13:31] #131 closed

[2018-08-05 13:32] benureau commented on #134
duplicate of #151

[2018-08-05 13:32] #134 closed

[2018-08-05 13:34] benureau commented on #153
Also, when one document matches exactly, but another can be autocomplete into the provided citekey, a dialog asking for a choice should be provided to avoid confusion. See #134 for an example.

[2018-08-05 14:07] benureau commented on #31
@omangin: can we close this? I view ISBN import as a core feature. That would be really bad for our library to says that *books* are a secondhand or plugin feature. I looked at alternative ways to do it with library such as https://github.com/xlcnd/isbnlib, but the WorldCat API is being closed-off behind identification. Using ottolib is our only option to bypass this, as alternative options such a

[2018-08-06 10:15] omangin commented on #31
Yes. It has been fixed, since `beautifulsoup` is now a dependency.

We had this debate about limiting the number of dependencies by making some functionalities depend on optional ones. We decided instead to make `beautifulsoup` and `feedparser` dependencies. These are pretty standard libraries and that way we have the functionalities in the core of `pubs`. If in the future we start importing more

[2018-08-06 10:15] #31 closed

[2018-08-07 09:52] beuerle opened #156 "correct release tag? error: The 'pubs==0.8.dev2' distribution was not found and is required by the application"
Is pubs steering towards singularity? The new release is `v0.6.0`, instead of `v0.8.0`.

![2018-08-07_11 47 17](https://user-images.githubusercontent.com/10122039/43768449-b4d70a62-9a37-11e8-8e2c-0efc7367ab35.png)

Most probably related, but I didn't have time yet to dig into it; when installing the most recent revision of `pubs` (I'm on Arch, installing `pubs-git` from AUR) I get the following er

[2018-08-07 12:40] omangin commented on #156
Hi @beuerle. Regarding the version, what happened is that, for documentation purpose, I generated the git tag for the version `0.6.0` so Github assumes the version was released at that date while it is actually older but no tag was generated at that time.

Regarding your issue I cannot reproduce it. Did you try the latest version of the AUR's `PKGBUILD`? I am not certain of where your issue comes

[2018-08-07 13:39] beuerle commented on #156
ah, ok. thanks.

`makepkg` puts a

[code]

in the executable. Don't know why this only pops up now, but I'll fix it somehow.

[2018-08-07 13:39] #156 closed

[2018-08-08 11:50] dotlambda commented on #89
It would suffice to let `pubs export` accept citation keys from stdin, so that one could use
[code]

[2018-08-09 10:00] omangin commented on #89
@dotlambda, as mentioned above the `xargs` command can already read citation keys from `stdin` and use them as argument for pubs, as follows.
[code]

[2018-08-09 10:26] omangin opened #157 "Enable the export command to read list of citekeys from standard input"
As raised in #89, this means enabling something like
[code]
in addition to `pubs list --citekeys-only $query | xargs pubs export`.

The purpose would be
– a simpler call scheme,
– avoiding the limit on the command line size that may occur with the latter.

[2018-08-09 10:59] benureau opened #158 "Option to download the arXiv pdf when using `pubs add -X`"
To be work on after #155 has been merged.

Ok, this one should be straightforward, but care needs to be taken with it. For instance, if we end up switching to the DOI, we should not download the arXiv pdf, or at least ask the user what to do. Also, it needs to optional, since the pdf might be to heavy for the connection, or the user might wish to only have lightweight references.

[2018-08-14 06:10] benureau opened #161 "Formatting with `pubs list`"
The `&` and accents are not well displayed:

[code]

[2018-08-14 11:20] #8 closed, assigned to nobody

[2018-08-14 11:22] omangin opened #162 "Extend the statistics command"
Suggestions and PR are welcome!

[2018-08-20 09:44] #154 closed

[2018-08-20 12:02] #144 closed

[2018-08-20 15:42] benureau commented on #145
Closed by #146, #155.

[2018-08-20 15:42] #145 closed

[2018-08-21 08:25] benureau commented on #147
Closed by #155.

[2018-08-21 08:25] #147 closed

[2018-08-23 01:27] benureau opened #163 "`pubs` should not be an error"
[code]
should be:
[code]
Also, and I have not check if it's present anywhere else, but I feel that the exclamation mark is overly aggressive and unnecessary.

[2018-08-24 03:17] benureau commented on #153
@omangin: So, I am going into this. Some stuff is trivial, but looking at the code, I want to make this command much more robust. We might have different errors, like read-only filesystems, other permission errors, file not found, etc. So, I want to make the delete operation atomic per paper. The purpose is not to achieve NSA-level of data scrubing, but to avoid leaving the repo in a half state be

[2018-08-25 12:48] omangin commented on #153
I like the idea of making the remove operation atomic (although I am not sure how far we can go in this direction since it is unclear how much could fail at the 4th stage that would not at the 3rd). But at least if we have permission or similar issues we catch them during the moves and can easily revert and show an explicit help message about the issue. Overall it is the user responsibility to pro

[2018-08-26 16:04] wschuell opened #164 "Empty pubs repository: 0 division error with statistics"
If the repository is empty, pubs statistics raises a zero division error

[code]

[2018-08-26 20:32] yurivict opened #165 "[regression] error: 'module' object has no attribute 'ReferenceNotFoundException'"
Version ```0.8.0``` fails:

[code]

```pubs-0.7.0.104``` didn't have this problem.

[2018-08-26 23:48] benureau commented on #164
Thanks William! That's obviously something we did not check for. Will be fixed very soon.

[2018-08-26 23:53] benureau opened #166 "description in PyPi"
Currently, the description is empty in PyPi (https://pypi.org/project/pubs/). We should make sure it is not for the next release.

[2018-08-26 23:59] benureau commented on #163
Yes, and why I  would be inclined to consider `pubs` as an alias of `pubs --help`, what's crucial to me is to remove the error message.

[2018-08-27 02:14] benureau commented on #165
Thanks for this. I forgot to properly test a function. I'll push a fix ASAP.

[2018-08-27 02:57] benureau commented on #165
@yurivict: I pushed a fix in the `fix/doi_stats` branch. It will be merged soon into master and we'll publish a hotfix release (0.8.1) right after that. In the meantime, you can install the updated version with:
[code]

[2018-08-27 03:17] benureau commented on #164
Ok it's fixed. The patch should be merged in master soon. Henceforth, you'll get:
[code]
I'll have to think about a witty remark to add to that.

[2018-08-27 03:17] yurivict commented on #165
Thank you!

[2018-08-27 08:30] wschuell commented on #164
Or maybe add useful info like:
[code]
The last sentence could be removed if during install (or at first run if not found) the .pubsrc is automatically created; but that would be another issue.

[2018-08-27 08:44] benureau commented on #164
Hum. A link towards the first steps section of the documentation could do that. But let's be real: only very specific persons will use `pubs statistics` before `pubs add`. Congratulation William, you made the cut! :)

[2018-08-27 08:46] benureau commented on #164
Oh, and you can place the `.pubs` directory anywhere you want, for instance in your <sync provider of you choice> folder. Or even move it after the fact, if you edit your `.pubsrc` appropriately.

[2018-08-28 02:06] benureau commented on #166
closed by 8fe24140.

[2018-08-28 02:06] #166 closed

[2018-08-28 02:07] benureau commented on #165
Included in version 0.8.1. Closed by 8fe24140.

[2018-08-28 02:07] #165 closed

[2018-08-28 02:07] benureau commented on #164
Included in version 0.8.1. Closed by 8fe24140.

[2018-08-28 02:07] #164 closed

[2018-08-28 02:07] benureau commented on #163
Included in version 0.8.1. Closed by 8fe24140.

[2018-08-28 02:07] #163 closed

[2018-08-28 02:44] yurivict commented on #165
Thank you for fixing it!
I updated the port.

[2018-09-10 07:35] epogrebnyak opened #169 "`pubs add` does not recognise saved file on Windows"
I save a .bib file in editor, but get this response:

[code]

[2018-09-10 09:26] benureau commented on #169
Hum... the thing is, we never actually tested it on Windows (we also use Travis for testing, which does not support Windows yet https://docs.travis-ci.com/user/multi-os/). Which editor are you using? If you're willing to go and look at the problem, you're more than welcome to submit a pull request.

A workaround is to create the bibtex file and then use `pubs add file.bib`. But that won't help muc

[2018-09-11 06:51] epogrebnyak commented on #169
Thank you for the answer - could you also provide some entry points on
where to look for modules responsible for adding the entry? Willing to look
at implementation and suggest windows fix.

I use native cmd.exe and configured Sublime (subl.exe) as an editor.

Does pubs expect some sort of callback from an editor or just check the
state of temporary file?

пн, 10 сент. 2018 г., 12:26 Fabien C. Y.

[2018-09-11 07:30] benureau commented on #169
As noted in the configuration file, you need to ensure that GUI editor wait for you to finish editing (by closing the file), before returning. This is done by invoking `subl --wait` under macOS or Linux (https://www.sublimetext.com/docs/3/osx_command_line.html). This would explain the problem. I could not find the equivalent for Windows. Two things to try:

- finding a similar flag for the `subl.e

[2018-09-17 17:00] yurivict opened #170 "pdf is added with the strangely mangled title"
Testcase: http://sci-hub.tw/10.1103/PhysRevLett.118.175901

Hitting "Save" downloads the file ```carbogno2017.pdf```.
The command ```pubs add -D 10.1103/PhysRevLett.118.175901 -d carbogno2017.pdf``` adds it with a mangled title:
[code]

The document title begins with ```"Ab Initio Green-Kubo"```.

pubs-0.8.1

[2018-09-17 17:55] ksunden commented on #170
This is a problem with crossref, not with pubs directly.
https://search.crossref.org/?q=10.1103%2FPhysRevLett.118.175901

These kinds of problems happen occasionally, and do just need to be handled manually, as they present in hard to predict ways.
This is especially true for titles with, e.g. Italics (as is the case here) or unicode characters. Can also happen to author names, etc.

[2018-09-17 17:58] benureau commented on #170
Thank you for reporting this. We get bibtex from the doi server, using code equivalent to this:
[code]
which produces:
[code]
Clearly here, we have should transformed `~` and the newline into space. It might be an issue with bibtexparser, that pubs relies on. However, I am not sure that all `~` in bibtex entries might be non-breakable space. Some may be actual `~` characters. We'll look into that.

[2018-09-17 18:01] benureau commented on #170
Oh! Thanks @ksunden for responding. I did not see your response before submitting mine.

[2018-09-17 19:09] yurivict commented on #170
It looks like this is likely a bug in DOI data itself, because it's hard to see how this tilde can be interpreted in a constructive way.

[2018-09-17 21:06] yurivict commented on #170
DOI foundation admitted that this is an invalid entry. I reported it to ```American Physical Society```, asked them to correct the entry.

[2018-09-17 21:09] yurivict commented on #170
In ```pubs``` itself you should probably substitute newlines with spaces. This is probably the best you can do in a way of working around the problems like this.

[2018-09-25 06:45] benureau commented on #170
@omangin: I guess something that went unnoticed here is that a `~` got transformed into a `-`. That's not okay, isn't it? I am creating an issue.

[2018-09-25 06:46] benureau opened #171 "Better handle title in imported bibtex"
See #170. Tildes should be conserved, and perhaps newline should be converted to space (if none is already present before or after).

[2018-09-25 06:47] benureau commented on #169
@epogrebnyak: did you manage to solve it?

[2018-09-26 06:43] KKPMW opened #172 "'pubs conf' doesn't work with -c flag"
Just started using pubs so please forgive if I missed something.

Moved pubsrc file to another place and made an alias for pubs to start with -c flag.
Everything seems to work fine except `pubs conf` which still looks for configuration file in the old place:

[2018-09-26 23:39] benureau commented on #172
@KKPMW: Thanks for the report, and welcome to pubs.

The mistake is ours. It boils down to not using these lines in the `pubs conf` code itself:
https://github.com/pubs/pubs/blob/8fe241404000fcad6321666e57a8cd1290d54b60/pubs/pubs_cmd.py#L51-L54

I'll fix it asap. In the meantime, the workaround is to edit the configuration file directly. This will work exactly the same.

[2018-09-27 02:40] omangin commented on #170
Is it really? I can't find where.

[2018-09-27 02:49] omangin commented on #171
I can't reproduce this. On my installation, tildes are preserved.

As for new lines, as I commented in #170, it is not clear to me what the best behavior is (for example because of abstract fields) and I would tend to keep user content as it is.

Also, if we do something in this direction, I would be in favor of making it a bibtexparser customization function.

However, new lines need to be conver

[2018-09-27 06:11] omangin opened #173 "Pubs not installing and issues in Readme on github"
With `pip` (v18.0) on `python2` (and not `python3`) pubs installation from (`pip install pubs`) fails as follows:
[code]
This is likely because the readme file is not correctly added to the installation archive. We have to figure out why this only occurs on python 2.

This suggest that we should probably add a periodic Travis task that ensures that pubs install correctly on the target platforms fr

[2018-10-04 09:34] benureau commented on #45
Ok, #168 closes this.

[2018-10-04 09:34] #45 closed

[2018-11-04 19:41] yurivict opened #175 "'tag' doesn't accept tags containing hyphens"
```pubs tag {id} "transition-metal"``` only adds the tag ```transition```.

[2018-11-19 23:35] yurivict opened #176 "Please fail to create the record when the document doesn't exist"
Currently, ```pubs add -D {doi} -d {pdf-file} ``` still succeeds when pdf file is missing.
Usually the expectation is that the command line operation is atomic, and there is no need to rush to create the record when it is going to be incomplete.

[2018-11-20 18:12] yurivict opened #177 "Convert latex to unicode in list command"
This article http://sci-hub.tw/10.1126/sciadv.aar8173 shows like this:
[code]

[2018-11-20 18:16] yurivict opened #178 "Converts the asterisk in the article title to `\ast'"
This article http://sci-hub.tw/10.1038/s41431-017-0012-3
was imported like this:
[code]

[2018-11-28 05:46] omangin commented on #176
Good point.

However,
1. the command actually fails but you are right it adds the paper without the pdf,
2. the reason is that adding the pdf can also be seen as a shortcut to a `doc add` action following the addition of the paper. Adding the paper is itself atomic. This is actually how it is implemented One case in which we likely don't want to fail for a missing pdf is that when you add a paper

[2018-11-28 05:55] omangin commented on #177
Indeed, thanks for reporting this.

[2018-11-28 06:08] yurivict commented on #176
Just make it atomic as it is called. Either perform all parts of the requested action, or no parts at all.

[2018-11-29 06:11] zamlz commented on #68
Just want to say that I'm really diggin this project. Of all the cli bib apps i've tried, I think this one seems to fit with what I want it to do. I've only added a couple papers as of now, but if I really like this, I'll move my thing from zotero to pubs. I also would really like git functionality and wouldn't mind looking in how to do this in the future. Hopefully this winter break.

[2018-11-29 06:32] benureau commented on #178
**edit**: updated your message to have a url that works everywhere.

Thanks for the issue. I have some trouble understanding what you mean, and how it relates to #177. The raw bibtex received from the doi.org server is:
[code]

What do you advocate we should do about `\ast`? Besides, as in #177, display it as an asterisk in the list command?

[2018-11-29 06:39] benureau commented on #176
Being really atomic, for reasons detailed by @omangin, might not be desirable if there is user interaction. But we could check that the document file exists before interacting with the user or requesting the bibtex data, and fail early, with a nice dialog explaining why and proposing the command to add the reference without the pdf.

[2018-11-29 06:40] benureau commented on #169
@epogrebnyak: closing this issue for now. Do not hesitate to reopen if necessary.

[2018-11-29 06:40] #169 closed

[2018-11-29 06:44] yurivict commented on #176
Instead of saving the incomplete record for the sake of possibly manually entered text just save that text into a separate file, and let the user know. Subversion does just that when commit fails after the user has already entered the commit message.

[2018-12-01 00:30] zamlz opened #179 "Unable to add this paper from arxiv. Any ideas?"
For some reason I can't add [this particular arxiv paper](https://arxiv.org/abs/1803.10122). Other papers work just fine.
[code]
Wondering if you guys knew what this meant.

[2018-12-01 01:36] benureau commented on #179
@zamlz, thanks for the issue report. Indeed, I have the same behavior. I'll have a look at it and push a fix asap, but it probably won't happen before Tuesday.

BTW, interesting paper.

[2018-12-01 01:47] zamlz commented on #179
No problem!

Yeah this paper is pretty awesome in my opinion. There is a pretty nice blog post if you're intersted in reading about it more [here](https://worldmodels.github.io/). May take a while to load the webpage since it's going to evaluating their model in the background in real time.

[2018-12-01 02:16] ksunden commented on #179
A cursory look seems to indicate that the problem is that the citekey extracted automatically is the url "https://doi.org/10.5281/zenodo.1207631". Which causes it to fail when trying to create the entry file because the "folder" does not exist

This is confirmed/worked around by specifying a citekey from the command line

`$ pubs add -X 1803.10122 -k Ha2018`

Crossref defaults to url for zenodo do

[2018-12-02 22:49] zamlz commented on #175
I also agree that having the `-` hyphen availabe.
To add to this, I noticed that you can't use hyphens when you just want to remove a single tag.
[code]
So that doesn't work, but instead we have to use `:`
[code]
It feels very inconsistent and was pretty confusing to figure out initially.

Maybe it would be better to add `-a,--add` and `-r,--rm` or something which just takes a list of tags separat

[2018-12-03 03:29] zamlz commented on #89
I've just been doing,
[code]
avoids the piping and the xargs

[2018-12-04 07:31] omangin commented on #177
Here I believe we can just run the latex to unicode function from bibtex-parser before pretty-printing the elements in the list. That way there is no need for additional dependencies.

[2018-12-04 07:42] omangin commented on #176
Do you have suggestions on where this file should be stored in a user-friendly way?

In my opinion the current behavior has the benefit of being quite intuitive provided that the UI messages are clear. The `add` action itself is atomic and the command performs an optional `doc add` after it that is atomic too. On the other side I understand your desire for atomicity for the full `add + doc add` ac

[2018-12-04 07:50] omangin commented on #175
Thanks for the feedback and suggestions. It is true that the current design is not very intuitive. We actually already use the comma syntax for the `--tag` argument of the `add` command so it would be consistent with that.

Let see if we get other comments or suggestions, otherwise we can implement this one.

[2018-12-05 20:56] zamlz commented on #68
Have you guys seen the program [password-store](https://www.passwordstore.org/)? I was thinking of maybe implementing it similar to this. All commands should automatically make commits to the repo, but if the user wants to do other stuff to their pubs folder, then can just do,
[code]

[2018-12-06 03:45] omangin commented on #68
Yes, something like that would be great!

We had in mind to implement it as a plugin shipped by default and hence that can be activated by a simple config option. The [events](https://github.com/pubs/pubs/blob/master/pubs/events.py) have been included to support this kind of functionalities. It should be enough that the plugin registers as a listener to all events and commits the corresponding fil

[2018-12-17 07:19] benureau opened #181 "Fix Pyfakefs for Python 2.7"
See Travis results on #174

[2019-01-03 06:03] omangin commented on #181
Not completely related but (since python 2.7, specially with pyfakefs is starting to be a pain) it could be good once this is solved to set a time for when we stop supporting python 2. We could deprecate it and continue supporting it for, say, one year (nothing prevent us then from supporting it a little longer). That way everyone would have been warned and we can drop it when it starts inducing t

[2019-01-03 06:21] omangin commented on #68
That kind of depends on where this takes us. It is always a trade-off between introducing a new dependency and having to write the functionality by hand.

I am not so familiar with python git libraries but it seem that [GitPython](https://github.com/gitpython-developers/GitPython) and [pygit2](https://github.com/libgit2/pygit2) are two of the most common options.

In this case we currently do not

[2019-01-04 04:03] benureau commented on #181
The problem seems to have been fixed on pyfakefs side. About Python 2, yes. The sunset date for Python 2 is 1st of January, 2020, so we can keep supporting Python 2 unofficially (as in, it works, but no promises) as long as nothing terribly inconvenient happens.

[2019-01-04 04:03] #181 closed

[2019-01-04 14:40] benureau opened #183 "new `bibtex` command"
Multiple time,s I have needed a quick way not to add a reference, but just display the bibtex of it, whether it is in the repository (`pubs bibtex Loeb_2012`) or not (`pubs bibtex -X 1803.10122`). A bibtex command would do that:
[code]

This would also make pubs relevant for people just interested by this function.
What do you think? I'll create the PR soon.

[2019-01-05 05:08] omangin commented on #183
Yes, that is a good point. The difficulty is that it is overlapping with `list` and `export` (that were already overlapping with each other anyway). But maybe that is not such an issue as long as we correctly avoid code duplication.

In my case I thought multiple time that a `pubs show` command would be nice to have. I think this use case could fall under it. We could have `pubs show` default to p

[2019-01-05 14:14] #173 closed

[2019-01-10 20:49] zamlz commented on #68
I too think its better just to use the subprocess to interact with git. Here is what I have so far.
https://github.com/zamlz/pubs/blob/git-plugin/pubs/plugs/git/git.py

So far adding, removing, renaming documents are committed to the git repo correctly as far as I'm aware. My next step is probably adding more listeners for other things like modifying notes, tags, etc.

The git shell though is the

[2019-01-15 05:33] omangin commented on #68
Thanks @zamlz! That looks like a great start! Actually it is pretty close to be merged. Could you open a pull request so that we can discuss the details there instead?

[2019-01-16 14:16] beuerle opened #186 "`TypeError: 'str' object is not callable` when trying to add reference"
Since recently I am not able to add references to pubs anymore. I get the following error message:

[code]

Required packages versions:

[code]
To exclude that some installed packages on my system cause the problem, I also tried to install `pubs` in a virtual environment and got the same result:

[code]

Any ideas where the problem comes from?

[2019-01-16 15:40] benureau commented on #186
Yes, this is due to a incompatibility in the dependencies (see https://github.com/sciunto-org/python-bibtexparser/issues/225). You could try to downgrade the PyParsing version.

[2019-01-17 04:43] omangin commented on #186
Closing now that the upstream fix is merged ([sciunto-org/python-bibtexparser/#226](https://github.com/sciunto-org/python-bibtexparser/pull/226)). Please re-open if the bug still occurs with the latest master of bibtexparser (this means that until a new version of bibtexparser is release you have to install it through `pip install --upgrade git+https://github.com/sciunto-org/python-bibtexparser`).

[2019-01-17 09:08] natj commented on #161
I would also consider aligning different fields, i.e.:

[code]

P.S. Nice work btw, this was exactly what I was planning to write myself too!

[2019-01-17 09:15] natj commented on #161
Furthermore, I was toying with the idea of adding different "global" sort options. For example

- `--sort=tags` group different entries with a same tag together (can print same citekey multiple times)
- `--sort=author` sort alphabetically by author name
- `--sort=year` sort chronologically by publication year

These need a little bit of work to work nicely with the current options but for example

[2019-01-17 19:03] dotlambda opened #187 "Test failures with bibtexparser 1.1.0"
[code]

[2019-01-17 19:04] dotlambda commented on #187
Btw, I updated bibtexparser to 1.1.0 in the first place because of https://github.com/sciunto-org/python-bibtexparser/issues/225.

[2019-01-18 04:19] benureau commented on #187
Indeed, I get the same results with the new bibtexparser. This is probably due to changes on the API of pyparsing.

[2019-01-18 04:48] benureau commented on #187
@omangin: bibtexparser returns less exceptions now on malformed data, just returns empty results. Is that expected?

[2019-01-18 05:19] benureau commented on #187
@dotlambda: a fix has been pushed to PR #185, and should be merged to master soon.

[2019-01-18 05:32] omangin commented on #161
Thanks for the feedback!

Hopefully #185 should fix the initial issue.

I like the `--sort` option idea. It is actually already discussed as #109 and just waiting for an implementation! So a contribution would be welcome! (I do not have an opinion toward naming the option `sort` or `order`. Both are fine.)

Personally I am not a big fan of the tabular display by default but I understand that it ca

[2019-01-18 05:38] #187 closed

[2019-01-18 05:38] benureau commented on #187
The fix has been merged.

[2019-01-18 05:43] omangin commented on #177
Fixed by #185

[2019-01-18 05:43] #177 closed

[2019-01-18 06:05] benureau opened #188 "Problems with latex to unicode"
@omangin: That was fast. This bibtex fails to be listed:

[code]

This is due to the editor field. Remove it (even on much more complex bibtex entry), and that works.

[code]

[2019-01-18 06:11] omangin commented on #188
Indeed. I was already looking at this. The issue is that the `editor` customization from `bibtexparser` is not consistent to the author one and not compatible with the `latex_to_unicode`.

[2019-01-18 06:15] omangin commented on #188
As a quickfix we can do something like the following in the endecoder:
[code]
I will report that to bibtexparser and we can add the above as a temporary fix.

[2019-01-18 06:16] benureau commented on #188
Ok. If you want to add a quickfix to master, do it. I can't work on this this immediate moment.

[2019-01-18 06:20] omangin commented on #188
OK

[2019-01-18 06:40] omangin commented on #188
See https://github.com/sciunto-org/python-bibtexparser/issues/229 for the upstream issue.

[2019-01-21 02:58] yurivict opened #190 "Prints ampersands in article titles as \&"
For example:
[code]
```DOI=10.1177/1947601911407328```

[2019-01-21 04:06] benureau commented on #190
Thanks! This is related to #161. I wonder if a simple search and replace approach would work.

[2019-01-21 04:13] benureau commented on #190
It should be tackled at the same time as #178, probably.

[2019-01-21 04:33] benureau commented on #178
Note that we already had this discussion in #177, I just realized.

[2019-01-21 04:34] benureau commented on #178
This could also allow to completely bypass #188

[2019-01-24 05:36] omangin commented on #190
This should be fixed on master. At least I cannot reproduce it.

@yurivict Which version of pubs are you using? Could you try with the latest version by installing with `pip install --upgrade git+https://github.com/pubs/pubs`?

[2019-01-24 05:45] yurivict commented on #190
Ok, thanks, I will wait for the next release.

[2019-01-25 01:05] zamlz commented on #68
Sorry I've been pretty late on this. I got really busy for past week. I'l get on that right now.

[2019-01-27 23:48] #190 closed

[2019-01-30 02:18] zamlz commented on #161
I think it could be cool if the user could specify a format string in the `.pubsrc` file. Maybe something like this:
[code]
would be
[code]
Doesn't have to be exactly that, but it could let the user be as expressive as they want for formatting.
[code]
would be
[code]

[2019-01-30 07:06] omangin commented on #161
That is indeed the idea. Regarding the format it would be good to be able to reuse as much of an existing one as possible. Good candidates are string `format` and `Template` from https://docs.python.org/3.4/library/string.html. It should be able to use that for a start. (Not sure about the indentation of wrapped lines, though. It is more about splitting lines instead of letting the terminal do it

[2019-02-20 01:49] benureau opened #192 "Command-specific help"
When providing the wrong arguments to a command, the error message should be specific to that command. Current behavior:
[code]
Better behavior:
[code]

[2019-03-03 08:49] benureau opened #195 "Comment phrasing in code"
https://github.com/pubs/pubs/blob/ca5d7631b0a925d130c0e41e4ab5d71e6a0ee5f0/pubs/filebroker.py#L152

This line is not really clear. To rephrase.

[2019-03-06 06:04] omangin opened #196 "Unstable tests"
Ottolib sometimes return 503 which breaks the API tests (see for example comments from #194).

[2019-06-22 16:41] zamlz commented on #161
Now that the git plugin is done, I might take a crack at this at some point.

[2019-06-25 12:47] benureau commented on #161
@zamlz: you're quite welcome to take a stab at it!

[2019-07-06 05:26] dvklopfenstein opened #200 "Append a line of text to 'pubs note'"
Thank you so much for these great tools.

Is there a way to append a text line into the note file? I am hoping to be able to do something like this:

[code]

or
[code]

[2019-07-08 01:50] benureau commented on #200
Hi @dvklopfenstein. Thank you.

No, there is no such `-a` functionality at the moment, but it should not be too hard to add it. That seem indeed that would allow more scripting of pubs note. Piping won't work reliably, as it would need to be adapted to the specific user-defined editor in the config.

[2019-07-08 12:22] beuerle commented on #200
You could achieve this functionality by defining an `alias` in your `pubsrc`, for example:

[code]

and then have a little helper script (here `~/.pubs/.scripts/append.sh`):

[code]

The syntax is then similar, but does not need any quotation marks:

[code]

(obviously, adjust the notes directory and the file extension accordingly)

[2019-07-08 12:27] #68 closed

[2019-07-08 12:31] benureau commented on #200
That's quite ingenious.

[2019-07-16 16:28] dvklopfenstein commented on #200
Thanks for the script, it still would be useful to add a `-a` argument in the same spirit as `git commit's `-m` arg:

[code]

Pubs version:
[code]

The `-a` argument would be familiar to command-line users and well-documented through the help mechanism.

[2019-08-01 13:47] dvklopfenstein opened #202 "Add multiple tags to a bib entry using with one run of 'pubs tag'"
Thank you very much for your excellent tools. They are in my daily pipeline now. It was so easy to adopt them.

Would it be possible to add functionality to ***pubs tag*** such that multiple tags could be added in one run of the command, like this:

[code]
Currently, I must do this:
[code]

If I try to add more than one tag in one run of ***pubs tag***, I see this:
[code]

[2019-08-01 14:07] ksunden commented on #202
you can do
`pubs tag Wu_2013 tagname1+tagname2`

[2019-08-01 16:33] dvklopfenstein commented on #202
That is great! Thank you. Closing this issue...

[2019-08-01 16:33] #202 closed

[2019-08-02 14:46] dvklopfenstein commented on #200
Thank you for these great tools. The append is now fully incorporated into my daily work flow.

[2019-08-02 14:46] #200 closed

[2019-08-03 02:51] m040601 commented on #186
"error: 'str' object is not callable"

I'm still getting this error message running pubs add with  -D or -I flags.

Im on ArchLinux running:
pubs --version
0.8.2

which is pulling  python-bibtexparser
Version:        1.1.0-2

[2019-08-03 04:27] benureau commented on #186
@m040601: that's not good. When you say you are still getting the error, did you have the error before, it went away, and came back? When did `pubs add -D` worked for you the last time? Which version of python are you using exactly? Could you try installing the master of pubs and see if that fixes things? We need to release a new version, but that may take a few days.

[2019-08-04 02:42] m040601 commented on #186
sorry, can't remember exactly. Last time I had tried pubs was at least 3 months ago. Didn't get this error (nor remember any other) then.

Python 3.7.4. Always use my distros official version.

Actually I did that. I tried both, the "stable" version,
 https://aur.archlinux.org/packages/pubs
that pulls from a tagged release.
As well as  ,
https://aur.archlinux.org/packages/pubs-git/
that pull from

[2019-08-04 03:21] m040601 commented on #186
Right. Just tried something else for testing. A disposable python virtual environment.
And this time pubs gave me no error.

$ python -m venv pubsven
installs this:
$ tree -L 1 pubsvenv/
pubsvenv/
├── bin
├── include
├── lib
├── lib64 -> lib
└── pyvenv.cfg
$ source pubsvenv/bin/activate
now I can play with python without messing my system
(pubsvenv)
pip install papis

works has expected

[2019-08-04 03:44] m040601 commented on #186
I think I'm getting closer to the problem root cause. Sorry if I brought some confusion here,  but maybe it's just my fault not pubs. Anyway, this may be usefull as a troubleshooting help for other users.

I started slowly one by one comparing the installed dependencies and its version numbers on the python virtual env.

Spotted a bibtexparser 1.1.0

Then went back to search my
$HOME/.local/lib/py

[2019-08-04 04:13] m040601 opened #204 "Make it more explicit on the front page/Readme what pubs is/isnot wants/doesnt want to be compared with other similar projects (papis, bibsearch, etc)"
First of all thank you for your work on this project.

Although I'm not a developer I am a command line fan and academic power user.
And as others I have been eagerly testing and comparing a lot of  similar apps in this area.

All these very usefull (and niche) cli doc/bib/ref management tools like papis, pubs etc , really deserve that their developers cooperate (or at least know that the others e

[2019-08-04 13:56] benureau commented on #186
Thanks for sharing the details. Might come handy indeed. I am closing this then.

[2019-08-04 13:56] #186 closed

[2019-08-04 14:21] benureau commented on #204
Aaaaahh... yes. The thing is, that's not really what we want to do (@omangin might have a different opinion though). To give you background, we started pubs to answer a personal need, in our scientific work, to have an efficient, scriptable tool to manage the articles we read. And we decided to share it because other people might have the same need as ours. But we did not do it to create a popular

[2019-08-09 02:51] m040601 commented on #204
Thanks for  the time you took to write down this perfect answer.
This is exactly what I was needing, and does  clarify my ideas about what to expect from pubs.
Hope  I can provide you later, if you have interest, with more  feedback from my own experience and personal usage of pubs that may be relevant for the pubs  project.

just copy/paste bits from this same answer to the front page. I'm sure i

[2019-08-09 05:07] benureau commented on #204
The idea of a community space on the wiki is a great idea indeed. I'll put things in motion this weekend. Thanks for the suggestion.

[2019-08-09 05:16] zamlz commented on #204
I agree, this was very well worded answer. Pubs is great in that it's
simple and modular in a Unix sort of way. And to that end, I think it does
it's job perfectly.

On Thu, Aug 8, 2019, 7:51 PM somename123 <notifications@github.com> wrote:

[2019-08-12 09:46] benureau commented on #204
@m040601, @zamlz, and everyone else: we wish for the wiki to be a community space. It is available for anyone to add content, share tips and discuss usage and workflow. It's pretty much a blank page right now, so feel free to shape it anyway you want. Anyone should possibly be able to edit it, do tell me if you have any issue.

[2019-09-09 18:00] zombiefungus opened #206 "allow `tag` to delete tags via `-tagName` not only `+-tagName`"
Or at least document the fact that the '+' is needed, otherwise is quite hard to know how to remove a tag

[2019-09-10 01:39] benureau commented on #206
Thanks for the issue @zombiefungus. And, indeed. That's not intended. `-tagName` is parsed as a command line option, rather than a tag declaration. I will look if we can work around this. If not, I will indeed document it.

[2019-09-10 15:36] zamlz commented on #206
Currently tags can also be removed with `:tagName`. I proposed a workaround but I'm not sure if its any good in issue #175

[2019-09-10 16:10] zombiefungus commented on #206
I would suggest to consider the + and - anyway. This is how is done in another tool I use [taskwarrior](https://taskwarrior.org/docs/examples.html#tags) I understand it could be a significant change but having tags separated by space and using the +/- format would solve the problem of having hyphens in tag names

What do you think?

[2019-09-10 16:56] benureau commented on #206
Yep, that seems interesting indeed. And the current implementation we have is obviously confusing. But as it may break users pipelines/habits, we probably need a major version released to implement this. I found a way with `parse_known_args` that I think will work on resolving this issue that's quick enough. I'll do this, and then we can discuss how to improve the tag command.

[2019-09-10 17:22] zamlz commented on #206
Maybe we can have the operation under quotes. Like we can use `'-tagName'`.
I don't think the python argparse library would recognize that as argument
and it's still intuitive I think

On Tue, Sep 10, 2019, 9:57 AM Fabien C. Y. Benureau <
notifications@github.com> wrote:

[2019-10-01 02:53] omangin commented on #206
Good points. I would still keep an unambiguous syntax to be sure there is something that works even when a tag is named as an option but that is not incompatible with enabling the trailing `-` for the other cases.

[2019-11-13 13:10] iagomosqueira opened #207 "use of pubsdir and docsdir in alias"
I am trying to use the values of pubsdir and docsdir in an alias but do not seem to find a way to do so. I might have missed something obvious but cannot get them using any syntax I could think of: $(pubsdir), ${pubsdir}, ...

[2019-11-15 01:32] benureau commented on #207
Hi @iagomosqueira. Yep, there's no support for that in the code. We could emit environment variables that any shell command could use, or preprocess the alias command to replace the values in it before execution... This is definitely an interesting feature to add, and I can see a couple of use for it. What's your usecase? There may be a workaround.

[2019-11-15 08:06] iagomosqueira commented on #207
Thanks. I wanted to use pubsdir on an alias calling an external command, in my case

[code]

to open a zip file for papers that have extra material, such as source code.

Related to this, I was also trying to set pubsdir to use an environmental variable

[code]

so I can synchronize .pubsrc across machines where, unfortunately, I have a different username.

[2019-11-15 08:41] benureau commented on #207
What about:
[code]
And yes,
[code]
Into the `.bashrc` (or appropriate file for different shells) should do the trick as well... if we did our job of calling aliases correctly. Let me know.

[2019-11-15 10:02] beuerle opened #208 "v0.8.3 tag not applied on master branch"
This is just a minor issue, but the v0.8.3 is **not** applied to the `master` branch.

[2019-11-15 21:56] iagomosqueira commented on #207
Great, using ~ works. But if I set PUBSDIR in .bashrc it does not seem to be picked up by

[code]

[2019-11-18 06:23] benureau commented on #208
Indeed. Forgot to push the last commit. Fixed, closing this.

[2019-11-18 06:23] #208 closed

[2019-11-18 06:23] benureau commented on #208
Indeed. Forgot to push the last commit. Fixed, closing this.

[2019-11-18 06:25] benureau commented on #207
Ok, we may have had to do that to be as secure as possible. I will review and consider changing how we call aliases.

[2019-12-18 13:21] nbiederbeck opened #210 "Unknown bibtex key "software""
the `software` key in bibtex files is not reconized. Editing the file fails (using `pubs edit`) and when editign by hand, exporting fails with following error:
[code]

[2020-01-04 11:12] cristobaltapia opened #211 "Multiple library directories"
Hi,

I have been trying pubs for a few weeks and I like it so far. There is one think though I would like to ask: would you consider having multiple libraries defined in the configuration file? I think, that this would be a nice addition, since it allows to separate some publications by topics. For example, I work in one field, but also like to read papers from different fields sometimes, so it wo

[2020-01-05 07:28] benureau commented on #210
@nbiederbeck: Sorry for the delay. That's problematic indeed. Will fixed it ASAP.

[2020-01-05 07:39] benureau commented on #211
@cristobaltapia: that's a nice idea. I don't know how much refactoring it would entail. Besides having different directories for different libraries, how would the user experience differ? It would also make the add command more complex, as it would need additional functions to specify the library to add a new paper too. And it would need to be tested with pretty much every other aspect of pubs. As

[2020-01-05 13:07] cristobaltapia commented on #211
@benureau: it would certainly require some refactoring. However, for the current users nothing should dramatically change in the user experience, as one library would be default (the one already defined in the current config file):
[code]
Or, with the new configuration options:
[code]

Both notations would be allowed.

To interact with the other libraries one would do something like:
[code]
That i

[2020-01-07 20:58] cristobaltapia opened #212 "Make number of author before 'et al.' a configuration parameter"
I am using pubs together with wofi [0] (like rofi but for wayland), so I basically use the `list` command to get all the papers and then search through them for authors' names or whatever. The problem is that not all authors are present in the string if the paper has more than three authors due to the 'et al.' notation. This number is hard-coded [here](https://github.com/pubs/pubs/blob/master/pubs

[2020-01-08 01:57] benureau commented on #212
Yes, that should be a parameter in the configuration, and that should be easy to do. We could even have `0` as a special value saying that `et al.` should never be used.

[2020-01-08 02:05] benureau commented on #211
So first, speed is not an issue. As described in the readme, science comes first, so the issues may get resolved slowly.

I was wondering more about your problem. Would you consider using two different repositories? Pubs does support configurations files (and it should be documented more). If you create an alias of the sort `alias pubsstd = "pubs -c path/to/config/for/standards"`, you should be ab

[2020-01-08 08:03] cristobaltapia commented on #211
I think that is a super good solution! I agree with you about not adding more complexity to the code. This should cover all I need actually.
I will try this and report back.
Thanks

[2020-01-08 08:09] cristobaltapia commented on #212
Yes, the `0` parameter is a good idea (much better that what I was thinking: just writing 99 :P )

[2020-01-08 08:26] benureau commented on #212
Would not have worked with this one: https://arxiv.org/abs/1109.4897v4 :)

[2020-01-08 09:27] dvklopfenstein opened #213 "pubs note echo"
Thank you so much for the pubs code.

I am making great use of the `pubs note` command and would like to add an `--echo` or `-e` arg so that I can do something like this:

[code]

And if there is no notes file for a citekey, we would see no text, like this:
[code]

What are your thoughts?

[2020-01-08 15:58] cristobaltapia commented on #212
haha no, that one would have not worked. I hope the list of names don't count for the maximum number of pages allowed.

[2020-01-09 03:18] benureau commented on #213
@dvklopfenstein: I think that's a great feature. It's simple and may enhance the scripting possibilities of pubs notes a lot. Do you want to submit a PR, or just suggest the feature?

[2020-01-09 04:57] benureau opened #214 "Multiple configuration documentation"
As #211 highlights, multiple configurations would need to be documented in the readme.

[2020-01-09 04:58] benureau commented on #211
Closing this issue, follow up in #214 if help is needed.

[2020-01-09 04:58] #211 closed

[2020-01-09 17:19] dvklopfenstein commented on #213
Thank you for the great command-line bibliography tools and thank you for considering the addition of the echo feature to `pubs notes.`

I have implemented it in a local fork of pubs and have been using it in my research, but have held off submitting a PR due to needing to write a test. I'll get that test written and then open a PR.

[2020-01-09 21:56] cristobaltapia opened #215 "Pubs checking the wrong directory when using the 'init' command"
While playing with the multi-configuration setup I came across a small bug. This is the setup:

1. A configuration file (standards.conf) is created with a different directory defined for the `pubsdir` and `docsdir`
[code]
2. Create the directory for the alternative library (`mkdir ...`)
3. Initialize the pubs directory
[code]
4. The directory is initialized in ~/.pubs :open_mouth:
5. Also, the sta

[2020-01-10 01:39] benureau commented on #215
Yes. You are not supposed to create the configuration file. Only edit it. Look at the `pubs init --help`:
[code]
It should also have the option for the configuration file, I have to fix the help dialogs...
Of course, having that documented in the readme could help.

[2020-01-10 01:41] benureau commented on #213
Wonderful. Will look at it when you submit it. No hurry.

[2020-01-10 07:44] cristobaltapia commented on #215
Ok. I thought the '--config' would apply to each command. Not a big deal, but would be nice to have it. (very low priority I would say, since it is not a command you use the whole time :P )

[2020-01-10 07:48] benureau commented on #215
No, the `--config` does apply to every command, but because we can load plugins that add commands depending on the config, we have to process it before the commands are loaded, and because of this, it does not appear in the help dialog of the command. I have to fix that.
Do specify the `--config` argument, else pubs will default to the default config path.

[2020-01-10 07:51] cristobaltapia commented on #215
Ah, alright, now I understand. Thanks.

[2020-01-10 08:35] #215 closed

[2020-01-13 22:09] cristobaltapia opened #216 "Add a separation symbol to the retrieved list of tags"
It is possible to add tags with more than one word if you surround it with quotes (e.g. `"long tag"`). However, when listing the tags with `pubs tag` it is not possible to distinguish it from the other tags, since space is used to separate the different tags. Therefore, it would be useful to have a separator (e.g. ";") for the list of tags. This is also important if you want to parse it with anoth

[2020-02-02 04:07] benureau opened #217 "pubs init should not overwrite an existing configuration"
Everything is in the title. Also, init could be a bit more explicit about configuration file location and repo/doc location.

[2020-02-02 04:34] #214 closed

[2020-02-02 04:48] benureau commented on #210
Hi again. Looking into it, "software" does not appear to be a standard bibtex entry type. I have never dealt with those entry before. Could you provide me more information about how it is defined? pubs relies on `bibtexparser` to parse bibtex, so changing the supported bibtex grammar would have to be done there.

[2020-03-08 22:26] kentdobias opened #218 "Support for biblatex entry types"
`biblatex` defines [an expanded class](https://en.wikibooks.org/wiki/LaTeX/Bibliography_Management#Entry_and_field_types_in_.bib_files) of entry types for BiBTeX. Right now `pubs` fails to add any entry with one of those types, or edit an existing entry to have one of those types.

Here is an example:
[code]

It would be nice to have support for these entry types.

[2020-03-09 09:26] benureau commented on #218
This is the same issue to #210. python-bibtexparser (https://github.com/sciunto-org/python-bibtexparser), used by pubs, does not currently supports them, and is not actively developed anymore. We will probably need to switch to another parser. I am currently looking at pybtex (https://pybtex.org/). If you know other with Python API that support this, do propose them.

[2020-04-03 18:03] loicreynier opened #219 "Document linking not working with `doc add`"
`pubs add -d <doi> -d <file> -L` creates a link to the document in the meta file but the linking option is not working on my system in `pubs doc add -L <doc> <citekey>`. It copies the file to `docsdir`.

[2020-04-07 23:53] eschen42 opened #220 "Win10 python 3.8 "pubs conf" "error: module 'os' has no attribute 'errno'""
- I installed python 3.8 on Windows 10.
- I did `pip3 install pubs`
- I ensured that `pubs.exe` is on my PATH.
- I ran `pubs init`
- I tried to run `pubs conf`
- I got the following error message:
  - `error: module 'os' has no attribute 'errno'`

Any suggestions for how I ought to proceed?

I expect success if I fall back to Windows Subsystem for Linux (aka WSL).

Thank you for `pubs` - it totall

[2020-04-08 01:51] #219 closed

[2020-04-08 01:52] benureau commented on #219
Hi @loicreynier,
Thanks for the issue report. Indeed, there was a typo in the argument parser. Reopen if it still does not work with the latest master.

[2020-04-08 02:06] benureau commented on #220
Hi @eschen42,
Indeed, pubs is not tested under Windows. However, it seems so far unrelated to this, there was a typo, and I fixed it. I think the next problem you will encounter is that the editor is not properly configured for Windows, which is needed for running `pubs conf`... yeah, not smart. You can edit the configuration manually, the default path is `~/.pubsrc`. If you find a good default th

[2020-04-08 02:06] #220 closed

[2020-04-15 06:18] nevillejackson opened #221 "Cannot link a document"

[2020-04-15 06:23] nevillejackson commented on #221
pubs doc add --link docname bibentry
puts a copy in .pubs/doc, not a link
is it trying to do a hardlink or a softlink?
i made sure .pubs/doc is on same device as the doc file in case it is trying to do hardlink
i would prefer a softlink

[2020-04-15 06:28] #221 closed

[2020-04-23 19:24] dvklopfenstein commented on #213
I just added the new code and test to do `notes echo` it is now under a new pull request https://github.com/pubs/pubs/pull/222

Thank you for the great code and thank you for considering my pull request.

[2020-05-02 17:04] omangin opened #223 "Automated tests failing"
Apparently there is some dependency issue for the automated tests. Needs to be looked at.

[2020-05-03 22:40] omangin commented on #221
Thanks @nevillejackson for reporting this. Indeed, it is supposed to use a softlink. I will try to reproduce your issue.

[2020-05-03 22:57] omangin commented on #223
It seems that the issue is caused  by `pyfakefs` not supporting python 2.7 as well as python 3.4 any more.

[2020-05-04 00:02] nevillejackson commented on #221
Hi Olivier,Thanks.  I can script an example if you need it.regardsNevilleSent from Samsung tablet.
-------- Original message --------From: Olivier Mangin <notifications@github.com> Date: 4/5/20  8:41 am  (GMT+10:00) To: pubs/pubs <pubs@noreply.github.com> Cc: Neville Jackson <nanddjackson@bigpond.com>, Mention <mention@noreply.github.com> Subject: Re: [pubs/pubs] Cannot link a document (#221)
Than

[2020-05-04 00:07] omangin commented on #221
@nevillejackson I just updated my comment above.

[2020-05-08 04:57] benureau opened #228 "more robust arxiv queries"
[code]
fails, but
[code]
succeeds.

Both should. Might consider switching to using https://github.com/lukasschwab/arxiv.py too, to allow downloading arxiv papers.

[2020-05-08 05:12] benureau opened #229 "pubs doc add explicit description"
`pubs doc add` should decribe what has been done: link, move, copy.

currently:
[code]
proposed:
[code]

[2020-05-10 00:16] #212 closed

[2020-05-10 00:16] #223 closed

[2020-05-10 13:10] cristobaltapia commented on #212
Thanks! I was literally thinking about this yesterday, but saw no update. And then I get the Email notification :P
It is working as expected for me.

[2020-05-17 18:24] rien333 opened #230 "[FR] auto completion in fish"
Hi! First of all, thanks for the project. I've been only been using it briefly so far, but it seems interesting and powerful playing around with it a bit.

However, I noticed that there is no autocomplete for fish shell. Is this an error on my side?  If not, I would gladly do some coding to get it working (provided it's nothing too complicated)

[2020-05-17 18:30] rien333 commented on #220
@benureau  Actually, I don't think the problem is with their setup. python3.7 removed errno from the os module, hence the error. See the bottom item of the python 3.7 changelog: https://docs.python.org/3.7/whatsnew/3.7.html#changes-in-the-python-api

You should probably reopen the issue, though as the resource above lists, the fix should be fairly trivial. (i.e. use `import errno` directly)

[2020-05-18 00:18] benureau commented on #220
@rien333: yes indeed. The changes in the code have already been made, back in April:
https://github.com/pubs/pubs/commit/246a00671e78b9d4353cea9b2eb0c0d07e3682c5

If you feel there is another problem, please reopen the issue.

[2020-05-20 03:26] benureau commented on #230
Hi. No, fish shell autocomplete has not been backed in the project. If you are willing to do it, we would welcome the contribution.

[2020-05-31 22:34] rien333 commented on #230
You can get auto-completion for fish pretty easily, the `argcomplete` documentation lists [https://kislyuk.github.io/argcomplete/#fish-support](how) .

[2020-05-31 22:37] #230 closed

[2020-06-02 06:52] #210 closed

[2020-06-02 07:07] benureau opened #234 "pubs tag improvements"
The tag commands throws error when no matching citekeys are found, and then assume it is a tag. This is confusing. Also, when no papers match, it should be explicit.

[2020-06-02 07:47] benureau commented on #234
Additionally, the tags are saved as a set in the metadata, which may not be needed, is difficult to read and edit, might lead to slowdown in parsing and decoding. Storing as a (sorted?) list might be simpler and better.

[2020-06-02 07:49] benureau commented on #234
Also, empty tags ('') are valid. This is not desired.

[2020-06-03 09:18] rien333 opened #235 "improve pubs doc export on existing file"
I'm trying to integrate `pubs` into a script. I noticed that when doing `pubs doc export` onto a filepath that already exists, pubs dispays an error, but the return status is still 0. It would be nice if it would return an error status so that you can do something like `pubs doc export foo bar || handle_error`.

Moreover, said error is not directed to stderr, but to stdout (minor thing, some other

[2020-06-03 11:28] benureau commented on #235
That's some great remarks indeed. A flag could definitely be implemented, and yes, the sdtout/stderr distinction is not always well behaved in pubs. I will look into all that.

[2020-06-03 12:56] rien333 commented on #235
Cool! I was thinking of doing some simple PRs, maybe I would like into this as well.

[2020-06-03 21:32] benureau commented on #235
Then I will assign the issue to you. Happy to receive some PRs about that.

[2020-06-05 04:24] benureau commented on #229
The work is done in the `pubs add` command, not yet in the `pubs doc add` command.

[2020-06-05 10:29] beuerle opened #236 "warn if DOI already exists in database"
Currently pubs adds a new publication with a given DOI even if it already exists in the repository, generating a new entry and bibkey.

It would be good if pubs could give a warning, or ask if the publication should be added even if it is already present?

[2020-06-05 11:35] beuerle opened #237 "add `--no-tags` to `list` command"
Analogous to `--no-docs` this argument would only list publications without any tags.

I might look into this and create a PR.

[2020-06-09 10:28] beuerle commented on #162
It would be interesting to add statistics about tags, for example print a sorted table of all tags with the number of publications tagged.

[2020-06-12 07:14] benureau commented on #236
Yes, I agree. To be fast, we would probably need to have a cache of the DOIs present in the repository. Will take some work.

[2020-06-23 14:26] boutil commented on #158
Something like this would be great. Being able to fetch metadata and the file in one operation (with an additional switch on the command line) would be a nice improvement for my workflow.

[2020-06-25 16:38] StanczakDominik commented on #158
#184 started some work on this. However, I'm thinking about submitting a PR for this using https://pypi.org/project/arxiv/. Would that be fine to add as a lightweight dependency?

[2020-06-25 22:52] benureau commented on #158
@StanczakDominik: Yes. Dependencies decrease the code we have to maintain for the project. I think that while #184 started to work, most of the work remained to make it robust and there was little point to rewrite it from scratch.

[2020-06-25 22:53] benureau commented on #158
I agree.

[2020-06-29 19:10] cristobaltapia opened #239 "[Question] Use `command` functions from a python script with git plugin"
Hi, I am working on a wofi [0] plugin for pubs, to easily manage my reference from a simple GUI. I already did this with a mix of bash and python scripts [1], but now I am rewriting it in pure python, so that it works a bit faster. For adding and editing references I thought of directly using the functions defined in the `commands` module, e.g. for editing I do `from pubs.commands.edit_cmd import

[2020-07-03 10:24] benureau commented on #239
@cristobaltapia: That's a very nice project! It probably would be useful for pubs to output the results of commands as xml or similar so it can be fed to such downstream interfaces.

For the git plugin problem, can you be more specific? How do you know it does not work? Any error output? What have you tried? What is your configuration?

[2020-07-03 10:27] benureau commented on #239
Btw, the way you proceed seems to bypass a lot of the work done in the `pubs_cmd.py` file, such as:
https://github.com/pubs/pubs/blob/d11f44327617e9a69c27bf0d8c196bfd2f13330a/pubs/pubs_cmd.py#L88

We may need to refactor the code a bit if you want to use it as an API.

[2020-07-04 18:09] cristobaltapia commented on #239
That could be a good idea. However, now I am implementing it in python and access directly to the `Repository` object containing all the references, so I can print each line with the format I need. (I still haven't uploaded that branch, as it is not ready.)

There is no error. The edit works correctly, but if I `cd` to the repository and make `git status` one can see that the changes are not comit

[2020-07-04 20:37] cristobaltapia commented on #239
So, what I am currently doing is basically the following:

[code]

This opens the _bibfile_ with `nvim` in order to edit it. However the `PostCommandEvent` is not executing, even though the plugins should be loaded.

[2020-07-09 20:27] boutil commented on #236
This would be great to avoid adding duplicate.
The same kind of check would be nice and useful with arXiv ids for example.

[2020-07-27 14:42] cristobaltapia commented on #239
I figured it out. I had to call `events.PostCommandEvent().send()` after calling the `edit_cmd()` function. Now it works :)

[2020-08-21 10:37] guillaumecherel opened #242 "Git tests fail when building v0.8.3 on nixos"
I tried upgrading the pubs nixos package to version 0.8.3, but git tests fail. It seems to be related to the tests relying on a pre-configured git, which does not happen on nix. All details are available [here](https://github.com/NixOS/nixpkgs/issues/94663#issuecomment-671619798).

Can you do anything about it?

[2020-08-24 09:17] guillaumecherel commented on #242
Yes, the solution accepted on nixos is just to disable the git tests by deleting the tests_git.py file before building.

[2020-09-10 12:57] beuerle opened #244 "Curly brackets in titles are not always preserved after editing"
Some bibliography styles make titles lower case. To preserve capital letters, curly brackets are needed.

I am not sure how `pubs` handles it, but it frequently happens that `pubs` removes the brackets after editing?

[2020-09-10 22:50] benureau commented on #244
That's problematic indeed. Could you provide an example of the problem?

[2020-09-11 09:45] beuerle commented on #244
I have a publication in my repository, `Pub_2020`, with the title something like

[code]

When I edit the entry with `pubs edit Pub_2020`, `pubs` removes the curly brackets:

[code]

and saves this when exiting the editor. Now the annoying part starts, where I have to put the brackets around `GHz` manually again. This is then saved properly. When I do `pubs edit Pub_2020` now again, `pubs` **does

[2020-09-11 12:32] benureau commented on #244
I can reproduce it. Interestingly, this happen when editing, not adding. I will get to the bottom of this.

[2020-10-08 16:57] beuerle commented on #244
This also happens with `\`. If there is for example a `%` you need to escape it, otherwise LaTeX throws an error.

Sometimes `pubs` removes `\` when doing a `pubs export`. Sometimes not, together with the curly brackets. I can't understand when this happens or not, or what logic it follows. But I constantly have to redit the entries. I'm using `biblatex` right now, so I'm not too concerned about t

[2020-11-02 21:50] #239 closed

[2020-12-02 22:31] kofm opened #246 "Disable author field formatting"
If I add the following citation

[code]

The author field is automatically changed to:

`author = {Team}, {R Core},`

which I think is invalid syntax. If instead I try to remove the double curly brackets it is then changed to:

`author = {Team, R Core},`

Is it possible to disable author field parsing?

[2020-12-07 05:10] omangin commented on #246
Thanks @kofm  for using pubs and reporting this. I could reproduce the issue; it looks that it is coming from the author customization of the [python-bibtexparser](https://github.com/sciunto-org/python-bibtexparser) library that we use to parse authors into structured information. It seems to not respect the protected string used in your example. We will have to look into a bit more details and pr

[2020-12-09 17:10] kofm commented on #246
Thanks to you guys and all the contributors for this amazing project. After trying several bibliographic software, this is by far the best.
I found the functions in python-bibtexparser which parse the author field. If I have some time I'll try to look into it, even though I'm not very experienced in Python so don't expect any miracle :D

As a temporary workaround, I'm now using separate manually e

[2020-12-09 23:13] dvklopfenstein opened #247 "The bibtexparser package is looking for new maintainers"
Thanks for providing management of our bibliography from the command-line. What a life-saver.

Just wanted to make sure that you knew that the bibtexparser package is looking for new maintainers. They note this in:

https://github.com/sciunto-org/python-bibtexparser#upgrading

Thank you again for the terrific package.

[2020-12-19 22:01] rhaynes74 opened #248 "import failed"
Hi folks, just started to play with pubs.   Exported my .bib file from Zotero and tried an import.  Didn't get too far and got a file not found message - this item has two files listed in the file= line in the .bib file.  Didn't seem to like the .HTML file:

file = {/Users/rhaynes/Zotero/storage/CDJEJLSE/Abushammala et       al. - 2015 - A novel fixed point iteration method for the solut.pdf;/User

[2021-01-10 05:27] omangin commented on #247
Thanks @dvklopfenstein  for the insight! I am not sure that either Fabien or myself have the time to commit to such a role. Yet, given the history of the two projects being quite close (I myself contributed a few things to bibtexparser), this is a good place to look for maintainers as well! Pubs would indeed not exist without the python parser and, still today, a lot of pubs features and behaviors

[2021-01-10 05:43] omangin commented on #248
Hi @rhaynes74, thanks for trying pubs and reporting this. Sorry for the response latency.

Do you have the exact error raised about the file not found?

After a quick look to https://github.com/pubs/pubs/blob/master/pubs/bibstruct.py#L81, it seems to me that the logic implemented there does not handle the Zotero case properly. To my knowledge, the `file` attribute is not really standard, specially

[2021-01-10 06:52] omangin commented on #246
I gave it a quick second look and this is indeed an issue of the author customization code that completely ignores the protected substring.

I see two ways out of this. The first one is relatively straightforward and involves fixing the function upstream. It probably would still make it impossible to search within such a name.

The second brings us to revisiting one of the design principles of pub

[2021-01-11 22:25] dotlambda opened #249 "Tilde only expanded sometimes"
My `.pubsrc` contains
[code]
Most commands (`add`, `doc`, `edit`, ...) work fine. When I use `pubs note foobar` however, pubs is trying to create a file at `./~/.pubs/notes/foobar.txt`.

[2021-01-12 02:45] benureau commented on #249
Thanks for the report. It should be fixed with e6d0754, which should be merged in master soon.

[2021-01-13 00:42] #249 closed

[2021-01-16 05:13] benureau commented on #246
@omangin: I would actually advocate for considering changing from pybibtexparser, which is not much actively developed anymore to another parser. I have been investigating Pybtex, and it seems to fit the bill for what we are looking for:
[code]
returns:
[code]
Handles utf-8 and respects formatting natively. Of course, we need to properly vet the parser against all our usecase to avoid regression.

[2021-01-16 05:14] #218 closed

[2021-01-16 05:15] benureau commented on #246
This was already shortly discussed in #218

[2021-01-17 17:50] dotlambda opened #252 "Support field name "type""
Biblatex has an entry type `thesis` where you "use the `type` field to specify the type of thesis."

Pubs removes that field when specified, leaving an invalid entry because `type` is a required field for `thesis`. I think
https://github.com/pubs/pubs/blob/89429a8c24d0aef444de614f2a102feeb14b615f/pubs/bibstruct.py#L10
should use `'ENTRYTYPE'` instead, just like bibtexparser. See https://github.com

[2021-01-17 22:19] omangin commented on #252
Thanks @dotlambda  for reporting this. `type` is indeed a valid field name. (I am not sure `thesis` is a correct entry type, as far as I know `phdthesis` and `mastersthesis` were the sandard ones, but that does not matter here.)

[2021-01-17 22:49] omangin opened #254 "Switching parser to pybtex"
As suggested by @benureau  in #218, the [Pybtex](https://pybtex.org/) API could be used as a replacement of the current [sciunto-org/python-bibtexparser](https://github.com/sciunto-org/python-bibtexparser).

Beyond being more actively maintained and targeting full compatibility with bibtex, the API provided by Pybtex is also more structured (actual class to hold paper and author information). I ad

[2021-01-17 22:49] omangin commented on #254
Could be a good candidate for next release as is expected to solve also some of the open issues.

[2021-01-17 23:32] benureau opened #256 "Fix continuous integration"
Whether by fixing Travis or switching to Github Actions.

[2021-01-20 05:33] #252 closed

[2021-01-21 15:33] guludo opened #258 "Download file if link is passed to `pubs doc add`"
It would be great if `pubs` downloaded the file if a link was passed to `pubs doc add`. Example:

[code]

Best regards,
Gustavo Sousa

[2021-01-21 16:05] guludo commented on #258
It turns out that `pubs doc add` was already prepared for such use case, but only for `http://` links :slightly_smiling_face:
I've created a pull request allowing `https://` links to be detected as well.

[2021-01-30 05:21] #256 closed

[2021-02-27 11:15] dotlambda opened #261 "Release"
I would love to see a new release of pubs. The last one is from 2019.

[2021-03-02 01:45] benureau commented on #261
Yes. A release soon would be good. We will see if we switch the parser for pybtex before or after the next release (#255).

[2021-03-12 13:36] naba-nyan opened #263 "Auto completion for multiple pubs repositories"
I use properly multiple pubs repositories, for example,

pubs_article : for journal articles,
pubs_book   : for science books,
pubs              : for others.

Then, autocompletion for "pubs" wokrs fine, but autocompletion for "pubs_article" or "pubs_books"  just extracts tags for "pubs".
Is there a solution to this problem? Note that I use the zsh).

[2021-03-21 22:12] omangin commented on #263
Hi @naba-nyan. That's an interesting question, thanks.

I am not 100% sure about it but it could be worth trying registering your aliases as well to `argscomplete` using a variant of [the command provided in the `readme.md`](https://github.com/pubs/pubs#autocompletion):
[code]

Let us know if it works for you so we can add it to the instructions.

[2021-03-23 05:37] omangin commented on #261
We have the pending [0.8.4 milestone](https://github.com/pubs/pubs/milestone/6). We can target that one soon. @benureau Should we include #255 as well or flag it for a follow up on a (to be created) 0.8.5?

[2021-03-23 14:21] naba-nyan commented on #263
Hi @omangin. Thank you for replying my question.

I try to registering my aliases to `argcomplete` as you showed, but autocompletion for my additional repositories does not work fine, just displays tags for  the default "pubs".

If  I change the default configration file path `~/.pubsrc` to `/path/to/pubsrc_book` by modifying `DFT_CONFIG_PATH`,
completion for "pubs_book" works fine (off course, in

[2021-03-28 10:50] naba-nyan commented on #263
Hi @omangin and all contributors!

I finally found out the cause of the completion problem.
I don't understand the code completely, so please report me if you find any errors.

The main cause is that `pubs` specified with the configuration file will be executed while holding the locale of configuration file as the first argument for pubs, however, when executing `argcomplete` in internal, the info

[2021-05-29 18:49] rien333 opened #266 "error: 'ENTRYTYPE' on lots of commands"
A lot of `pubs` commands now just return `error: 'ENTRYTYPE'` for me. The errors seem to stem from specific papers,  perhaps papers I've added a while back. For instance:

[code]

Some more strange errors:

[code]

Here is what  `~/.pubs` lists as metadata for a seemingly "faulty" entry:

[code]

[code]

---

I'm using linux, python3.9, and a `pubs` build from git. `pubs` reports the following ver

[2021-05-29 19:38] dotlambda commented on #266
I think I had the same error and solved it by deleting the cache (`~/.pubs/.cache`).

[2021-05-29 20:49] rien333 commented on #266
Ah right, that worked! Thanks.

Perhaps worth considering making the cache directory visible (I'm not sure how common it is to have hidden directories in hidden directories), or just putting it  in `~/.cache`.

[2021-05-29 20:49] #266 closed

[2021-06-10 01:20] Infrasonics opened #267 "bibtex parser does not respect `others` keyword"
I just stumbled upon this situation when exporting an entry similar to the following shortened example:
[code]

The problem here is the trailing comma before the closing brace in the `author` entry. Manually removing it via pubs edit does not do the trick, it gets readded since the parser sees `others` as an incomplete name and not as a special keyword.

This will hopefully go away if you guys dec

[2021-10-18 07:11] jkulhanek opened #268 "Browser extension"
I would like to build a browser extension for chrome and firefox, which would allow users to import papers from arxiv, cvf, ... by pressing a single button. I think it would be great if this project was part of the pubs project. What do you think?

For this to work, there needs to be a native app, which is able to communicate with the browser using a special protocol. It would be best if the proto

[2021-10-26 05:37] hinojojojo opened #269 "Bibliographic info not well imported from DOI"
Hi
I have been using pubs now for about two years and has been great. I had a couple of months without importing new bibliography, but this week I have been importing a few new papers and found some weird performance, which happened in two computers, one running Arch Linux and another one running SalixOS, with pubs version 0.8.3
I have been importing with "pubs add -D someDOI -t someTag", e.g. "pu

[2021-11-15 14:39] mquinson opened #270 "Please automatically search for a config file in the directory hierarchy"
Hello,

I'm using pubs to share publications over git with my colleagues. I know I could define an alias per group of people to specify the right config file, but it'd be even easier if pubs could behave as git (and others), and recursively search for a `pubs.rc` (or `.pubsrc` or whatever) file in the enclosing directories of the currrent working directory.

Also, I noticed that pubs is in slow ma

[2021-11-16 06:00] benureau commented on #269
Hi @hinojojojo,

Sorry for the delay. I tried the command myself, and this is the intended behavior, as "2021" is the citekey provided by the imported DOI. Most of the time, the journals or website has provided an informative citekey, but in this instance, just the year is provided. There is a PR #209 to have the citekey auto-generated by pubs based on the first author and year, but it's not in ma

[2021-11-16 06:04] benureau commented on #270
Hi Mt,

Yes maintenance has been... slow. Non-existent is another word I would use, lately. I will make some time next week-end to work on the existing PR and issues.

Looking for the config in the parent directories of the current directory could be something that's implemented. It's a simple enough enhancement. Do not hesitate to submit a PR.

[2021-11-16 06:08] benureau commented on #268
Hi @jkulhanek,

I have little (no) experience with writing browser extensions. The native app would need to be in javascript, right? How would the protocol look like? There's definitely an API inside pubs, but it's tailored to the needs of the python commands. What would you need?

[2021-11-16 06:10] benureau commented on #267
@Infrasonics: thank you for the issue. It's always helpful to get example of problematic bibtex that we can add to the battery of tests we run each version of the code on. It definitely needs to be handled. You are right, switching to another parser, which we hope will be soon, might do the trick here.

[2021-11-21 18:44] benureau commented on #269
Closing this issue, the work continues in #209.

[2021-11-21 18:44] #269 closed

[2021-11-21 18:52] benureau commented on #263
@naba-nyan, thanks for the details post about your progress on this issue. I wonder if:
[code]
would solve your problem?

[2021-11-21 19:16] benureau opened #271 "Add unit test for https"
Add some (mock) test to check that `https://` is/remains supported. See #259.

[2021-11-21 19:17] #258 closed

[2021-11-22 11:12] naba-nyan commented on #263
@benureau, thanks  for your comment to my issue.
I tried to run `pubs` the way you showed me, but it did not work fine.

Indeed, `pubs list` works properly according to the specified configuration file,
however, `argcomplete` does not work so.

Just like I posted before, if we call `argcomplete` in internal, it seems that `PUBSCONF` is not passed to `pubs` or `argcomplete`.

This seems to be cause

[2021-12-21 08:05] m15a opened #274 "Templates for `pubs note` if it is the first time to edit"
When creating a new note by `pubs note`, its content is blank. It would be helpful for note taking if some templates are available.

[2021-12-22 03:53] zamlz commented on #274
You can emulate this by setting the application that you wish to note take
with as a script that emulates this behaviour.
Instead of setting the editor to vim, I had a wrapper script that would
check to see if the file existed first and if it did, open it in vim.
else it would copy a template file to the location, and then open it in vim.

On Tue, Dec 21, 2021 at 12:05 AM Mitsuhiro Nakamura <
***@

[2021-12-22 04:13] m15a commented on #274
That's a nice trick, thanks! Is it possible to create a plugin that provides this functionality?

[2021-12-24 00:45] zamlz commented on #274
Yeah that's possible. I don't know if I have time to work on it at the
moment, but I know it shouldn't be too complicated.

On Tue, Dec 21, 2021 at 8:13 PM Mitsuhiro Nakamura ***@***.***>
wrote:

[2022-01-26 08:55] sevehub commented on #274
Here's a similar workaround for VIM.
https://tinyurl.com/y8x84m4o

[2022-04-17 05:49] meanderingexile opened #276 "OttoBib is no longer in service, breaking ISBN lookup"
Adding a new entry with the `-I {ISBN}` produces the standard error message:

[code]

Checking [https://www.ottobib.com/](https://www.ottobib.com/), it looks like the service has been depreciated. They suggest some alternative sources, such as [https://zbib.org/](https://zbib.org/).

Would it be possible to update this service? It seems like it should just be a matter of updating the hardcoded str

[2022-04-17 13:49] benureau commented on #276
@meanderingexile: Thanks for the info. I have looked at zbib.org, but not found any straigthforward way to get the bibtex from it from python (it is probably doable, not sure that (1) it would be robust (2) zoterobib would like that). If you are up to look into it and submit a PR, that would be very useful.

[2022-04-17 13:49] benureau commented on #276
In the meantime, trying to add an ISBN will offer a error with an explanation about the situation.

[2022-04-17 14:00] benureau commented on #261
Ok, after more than a year, release 0.9.0 is here (bump due to the number of improvements), and is available via pip. Closing this.

[2022-04-17 14:00] #261 closed

[2022-05-14 11:44] meanderingexile commented on #276
Just as a quick update on this:

I now see what you mean about zbib!

I ended up getting a local patch working using Internet Archive's OpenLibrary project as a data source. They offer a free low-volume API (documented here: [https://openlibrary.org/developers](https://openlibrary.org/developers)) and I believe any reasonable `pubs` user would be within their TOS.  They do not provide BibTeX direc

[2022-06-03 14:11] chrberrig commented on #276
both open library, as well as worldcat seems do do the trick in regard to the databases:

https://www.vinzius.com/post/free-and-paid-api-isbn/

some additional parsing of the API-retuen val. might be neccessary though, but i guess that could be dome locally in pubs?
The WorldCat DB seems to be the bigger of the two.

[2022-08-09 19:11] dotlambda opened #277 "`os.stat_float_times` was removed from pyfakefs"
From [pyfakefs 4.6.0](https://github.com/jmcgeheeiv/pyfakefs/blob/v4.6.0/CHANGES.md) on

https://github.com/pubs/pubs/blob/59be47ca9107364db452f8138206ab9895438e33/tests/test_usecase.py#L88

fails with `AttributeError: module 'os' has no attribute 'stat_float_times'`.

[2022-09-26 11:00] #277 closed

[2022-09-26 13:40] benureau commented on #276
@meanderingexile, @chrberrig: thank you. I think that indeed OpenLibrary and WorldCat are both options that may be viable.